<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="l-multi-col-content-wrapper">
  <div class="l-content-primary-wrapper">
    <tab-set tab-descriptor="portfolioTabs"
             use-full-width-on-mobile="false"
             portfolio-lang="{{::portfolio.lang}}">
    </tab-set>
  </div>
  <div class="l-content-secondary-wrapper">
    <contact-information limit-visibility="{componentId: 'CONTACT_INFORMATION'}"
                         contact-information-data="portfolio.contactInformation"
                         owner-name="{{::portfolio.ownerName}}"
                         portfolio-id="{{::portfolio.id}}"
                         portfolio-lang="{{::portfolio.lang}}">
    </contact-information>
  </div>
</div>
