<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="crop-image-container">
  <message message="message"></message>
  <div class="crop-image">
    <img img-load="imgLoaded()" ng-src="{{image}}"/>
  </div>
  <div class="modal__actions">
    <div class="image-controls">
      <button ng-click="rotate(-90)"><i class="hy hy-rotate-left"></i></button>
      <button ng-click="rotate(90)"><i class="hy hy-rotate-right"></i></button>
      <button ng-click="zoom(-0.1)"><i class="hy hy-magnify-minus"></i></button>
      <button ng-click="zoom(0.1)"><i class="hy hy-magnify-plus"></i></button>
    </div>
    <button ng-click="ok()" ng-disabled="submitting" translate="general.save" class="text-transform-capitalize"></button>
    <button ng-click="cancel()" translate="general.cancel" class="text-transform-capitalize"></button>
  </div>
</div>
