<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="link-list" role="article" ng-if="upcomingCourses.length > 0">
    <h3>{{ 'upcomingCourses.title' | translate }}</h3>
    <ul class="list-of-links--light">
        <li ng-repeat="upcomingCourse in upcomingCourses">
            <a ng-if="upcomingCourse.coursePageUri" href="{{ upcomingCourse.coursePageUri }}">
                {{ upcomingCourse.name }}
            </a>
            <span class="link-list__no-link" ng-if="!upcomingCourse.coursePageUri">{{ upcomingCourse.name }}</span>
        </li>
    </ul>
</div>