<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
  -->

<div id="upcoming-courses" class="ui-component upcoming-courses" role="article" ng-show="upcomingCourses.length > 0">

    <div class="ui-component__title">{{ 'upcomingCourses.title' | translate }}</div>

    <ul>
        <li ng-repeat="upcomingCourse in upcomingCourses">
            <div class="upcoming-course__item">
                <div class="upcoming-course__content">

                    <div class="upcoming-course__img">
                        <div class="image-container" style="background-image: url('{{upcomingCourse.imageUri}}')"></div>
                    </div>
                    <div class="upcoming-course__details-container">
                        <div class="upcoming-course__date-and-type">
                            <div class="box-story__topical">
                                <span class="box-story__date">{{ upcomingCourse.startDate | momentFormat:'DD.MM.YYYY' }}</span>
                                <span class="box-story__tag"><span>{{ 'codes.courseTypes.' + upcomingCourse.typeCode | translate }}</span></span>
                            </div>
                        </div>
                        <div class="upcoming-course__title">
                            <a ng-if="upcomingCourse.coursePageUri" href="{{ upcomingCourse.coursePageUri }}">
                                <h4>{{ upcomingCourse.name }} ({{ upcomingCourse.code }})</h4>
                            </a>
                            <h4 ng-if="!upcomingCourse.coursePageUri">{{ upcomingCourse.name }} ({{ upcomingCourse.code }})</h4>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>