<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<main id="main-content" class="local-login">
  <h1 class="local-login__heading">
    {{::('landerPage.' + currentStateName + '.login.title' | translate)}}
  </h1>

  <p>{{::('landerPage.' + currentStateName + '.login.intro' | translate)}}</p>

  <p ng-if="isDemo" translate="localLogin.disclaimer"></p>

  <div ng-if="users">
    <h2 class="local-login__users-heading" translate="localLogin.intro"></h2>

    <ul class="local-login__users-list">
      <li ng-repeat="user in users" class="local-login__user">
        <a ng-click="logInAs(user.username)"
           href=""
           class="button local-login__log-in"
           tabindex="0">
           {{::user.name}}<span ng-if="user.subject">, {{::user.subject | translate}}</span>
         </a>
      </li>
    </ul>
  </div>

  <div class="lander-bg">
    <div class="gradient-overlay"></div>
  </div>
</main>
