<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
  -->

<section class="favorites-list__item unicafe-favorite island">
  <div class="loading-container" ng-if="loading">
    <span class="icon-5x icon--spinner icon-spin"/>
  </div>
  <div ng-if="!loading">
    <h4 translate="favorites.unicafe.lunchMenu" class="text-transform-capitalize-block"></h4>
    <div ng-show="closed"
         translate="favorites.unicafe.closed"
         class="text-transform-capitalize-block">
    </div>
    <div ng-show="!closed && menu.length === 0"
         translate="favorites.unicafe.notAvailable"
         class="text-transform-capitalize-block">
    </div>
    <ul class="unicafe-favorite__menu">
      <li ng-repeat="menuItem in menu" class="margin-bottom-10">
        {{ menuItem['name' + languageSuffix] }}
        <br />
        <span ng-repeat="metaData in menuItem.meta[0]" class="unicafe-favorite__meta-data"><span ng-if="$index !== 0">, </span>{{ metaData }}</span>
      </li>
    </ul>
    <div class="unicafe-favorite__select-container">
      <div class="unicafe-favorite__select">
        <select name="restaurantSelect"
                ng-model="selectedRestaurant"
                ng-change="restaurantSelected(selectedRestaurant)"
                ng-options="restaurant.id as restaurant.name disable when restaurant.isDisabled for restaurant in restaurantOptions">
        </select>
      </div>
      <a href="{{::(unicafeUrl + selectedRestaurant)}}"
         target="_blank"
         class="unicafe-favorite__restaurant-link">
        <i class="icon--arrow-right unicafe-favorite__restaurant-link-icon"></i>
      </a>
    </div>
  </div>
</section>
