<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="ui-component favorites" ng-class="{'edit-favorites' : editMode}">
  <div class="component-header">
    <mutable-heading component-id="FAVORITES"
                     default-text="favorites.title"
                     portfolio-lang="{{::portfolioLang}}"
                     editing="editing"
                     save-slot="saveHeading"></mutable-heading>

    <div class="component-header__actions">
      <visibility-toggle component-id="FAVORITES"></visibility-toggle>
      <edit-link on-edit="edit()" on-exit-edit="exitEdit()"></edit-link>
    </div>
  </div>

  <div class="favorites__dropzone">
    <ul ng-model="favorites"
        as-sortable="sortableOptions"
        is-disabled="!editMode"
        class="favorites__list">

     <li ng-repeat="favorite in favorites"
          as-sortable-item
          class="favorite"
          ng-switch on="favorite.type">
        <div as-sortable-item-handle class="favorite__drag-handle">
          <favorites-link remove-favorite ng-switch-when="LINK" data="favorite"></favorites-link>
          <favorites-twitter remove-favorite ng-switch-when="TWITTER" data="favorite"></favorites-twitter>
        </div>
      </li>
      <li class="favorites__add-new" limit-visibility="PRIVATE">
        <add-new-favorite favorites="favorites" available-favorite-types="availableFavoriteTypes"></add-new-favorite>
      </li>
    </ul>
  </div>
</div>
