<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<header class="l-header">
  <div class="page-header">
    <div class="wrapper">
      <div class="page-header__branding">
        <ul class="inline-list">
          <li>
            <a href="http://www.helsinki.fi/yliopisto/">
              <img src="/assets/icons/logo.svg" class="logo--header">
            </a>
          </li>
          <li>
            <h1 class="site-name__header">{{ currentStateName + ".pageHeaderBranding" | translate }}</h1>
          </li>
        </ul>
      </div>
      <div class="page-header__links hide-mobile-only">
        <ul class="page-header__links-list">
          <li><a class="page-header__link" href="http://www.helsinki.fi/office365" target="_blank">email</a></li>
          <li><a class="page-header__link" href="http://flamma.helsinki.fi" target="_blank">flamma</a></li>
          <li><a class="page-header__link" href="http://www.helsinki.fi/kirjasto/fi/etusivu/" target="_blank">library</a></li>
          <li class="divider">|</li>
          <li>
            <menu-language></menu-language>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="l-page island wrapper" ui-view></div>

<footer class="l-footer island" ng-include="'app/partials/_page_footer.html'"></footer>
