<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
  -->

<div>
    <div ng-show="active" class="search-bar">
        <label role="button" aria-label="'toolbar.search.search' | translate }}" for="search-input" ng-click="search()"><i class="hy hy-search"></i></label>
        <i role="button" aria-label="'toolbar.search.closeSearch' | translate }}" class="hy hy-remove clear" ng-click="clear()"></i>
        <div class="input-container">
            <form>
                <input id="search-input"
                       type="text"
                       focus="active"
                       ng-model="searchTerm"
                       ui-keypress="{'enter':'search()'}"
                       typeahead="categoryTitle for categoryTitle in getCategoryTitles($viewValue)"
                       typeahead-template-url="app/directives/header/userMenu/search/searchBar/autocomplete-tpl.html"
                       typeahead-on-select="search()"
                       typeahead-focus-first="false"
                       autocomplete="off">
                <input type="submit" value="Submit" style="display: none">
            </form>
        </div>
    </div>
</div>