{
  "extends": "defaults/configurations/google",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "_": true,
    "$": false,
    "afterEach": false,
    "angular": false,
    "beforeEach": false,
    "browser", false,
    "by", false,
    "Clipboard", false,
    "describe", false,
    "element", false,
    "expect", false,
    "google": false,
    "Hammer": false,
    "inject": false,
    "it", false,
    "jasmine", false,
    "Modernizr": false,
    "moment": false,
    "sprintf": false,
    "twttr", true
  },
  "rules": {
    "dot-location": [2, "property"],
    "indent": [2, 2, {
      "VariableDeclarator": 2,
      "SwitchCase": 1
    }],
    "max-len": [2, 100, 2]
  }
}
