node_modules
bower_components
e2e_screenshots
.idea/
.tmp/
.nvmrc
*.iml
*.ipr
*.iws
build/
main/src/app/templates.js
portfolio/src/app/templates.js
main/src/assets/styles/main.css
portfolio/src/assets/styles/main.css
.sass-cache/
main/dist/
portfolio/dist
.DS_Store
npm-debug.log
