node_modules
bower_components
.idea/
.tmp/
.nvmrc
*.iml
*.ipr
*.iws
build/
main/src/app/templates.js
profile/src/app/templates.js
main/src/assets/styles/main.css
profile/src/assets/styles/main.css
.sass-cache/
main/dist/
profile/dist
.DS_Store
npm-debug.log
screenshots
