<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<ul class="sample">
  <li ng-repeat="sampleItem in samples | orderBy: 'title' track by sampleItem.id"
      class="editable">
    <div class="sample__item">
      <div class="sample__banner">
        <div class="sample__banner-content">
          <div class="sample__title-container">
            <div class="sample__title">
              <span class="sample__title-content" ng-show="!sampleItem.titleEdit">
                <a role="button" href="" ng-click="editTitle(sampleItem)" class="sample__title-content-button"
                   ng-class="{'ng-invalid':sampleItem.submitted && !sampleItem.title}">
                  {{sampleItem.title || ('samples.titlePlaceholder' | translate)}}<i class="fa fa-pencil"></i>
                </a>
              </span>
              <span class="sample__title-content--active" ng-show="sampleItem.titleEdit">
                <input class="sample__title-content-input"
                       focus="sampleItem.titleEdit"
                       placeholder="{{::'samples.titlePlaceholder'|translate}}"
                       ng-model="sampleItem.title"
                       ui-keypress="{'enter':'exitTitleEdit(sampleItem)'}"
                       ng-change="onChange()"
                       ng-class="{'ng-invalid':!sampleItem.title}" />
                <a role="button" href="" ng-click="exitTitleEdit(sampleItem)"><i class="fa fa-check"></i></a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="sample__details-container">
        <div class="sample__url">
          <span class="sample__url-content" ng-show="!sampleItem.urlEdit">
            <a role="button" href="" ng-click="editUrl(sampleItem)" class="sample__url-content-button"
               ng-class="{'ng-invalid':sampleItem.submitted && !sampleItem.url}">
              {{sampleItem.url || ('samples.urlPlaceholder' | translate)}}<i class="fa fa-pencil"></i>
            </a>
          </span>
          <span class="sample__url-content--active" ng-show="sampleItem.urlEdit">
            <input class="sample__url-content-input"
                   type="text"
                   required
                   placeholder="{{::'samples.urlPlaceholder'|translate}}"
                   focus="sampleItem.urlEdit"
                   ng-model="sampleItem.url"
                   ui-keypress="{'enter':'exitUrlEdit(sampleItem)'}"
                   ng-change="onChange()"
                   ng-class="{'ng-invalid':!sampleItem.url}" />
            <a role="button" href="" ng-click="exitUrlEdit(sampleItem)"><i class="fa fa-check"></i></a>
          </span>
        </div>
        <div class="sample__description">
          <textarea placeholder="{{::'samples.descriptionPlaceholder'|translate}}"
                    ng-model="sampleItem.description" ></textarea>
        </div>
      </div>
      <button class="sample__remove" ng-click="removeSample(sampleItem)"></button>
    </div>
  </li>
</ul>

<div class="sample__add-new">
  <div class="list-of-links">
    <a class="button--action icon--plus" ng-click="addSample(newSample)">{{::('samples.addSample' | translate)}}</a>
  </div>
</div>

