<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->
<div>
  <ul class="banner-content samples--edit">
    <li ng-repeat="sampleItem in samples | orderBy: 'id' track by sampleItem.id" class="editable">
      <div class="samples__outer-container samples">
        <div class="banner-content__item">
          <div class="samples__title--edit">
            <label for="sample-title-{{sampleItem.id}}" translate="samples.sampleTitle"></label>
            <input id="sample-title-{{sampleItem.id}}"
                   focus="sampleItem.titleEdit"
                   type="text"
                   class="samples__input"
                   ng-model="sampleItem.title"
                   ng-change="onChange()"
                   ng-class="{'ng-invalid':!sampleItem.title}"
                   placeholder="{{::'samples.sampleTitle'|translate}}" />
          </div>

          <div class="samples__description--edit">
            <span class="samples__description-label" translate="samples.sampleDescription"></span>
            <div ng-controller="TinymceController">
              <textarea class="samples__input"
                        ui-tinymce="tinymceOptions"
                        ng-model="sampleItem.description"
                        ng-change="onChange()">
              </textarea>
            </div>
          </div>
          <button class="banner-content__remove" ng-click="removeSample(sampleItem)"></button>
        </div>
      </div>
    </li>
  </ul>
  <div class="add-new-content">
    <div class="list-of-links">
      <button type="button" class="button--action icon--plus" ng-click="addSample(newSample)">
        {{::('samples.addSample' | translate)}}
      </button>
    </div>
  </div>
</div>
