<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
  -->

<div>
    <div class="bar">
        <div class="form-type-radio rss-feed-visible-items">
            {{ 'favorites.rss.numberOfItems' | translate }}<br>
            <input id="rss-1" type="radio"
                ng-model="visibleItems"
                value="1" />
            <label for="rss-1">{{ 'favorites.rss.1item' | translate }}</label>
            <input id="rss-2" type="radio"
                ng-model="visibleItems"
                value="3" />
            <label for="rss-2">{{ 'favorites.rss.3items' | translate }}</label>
        </div>
        <add-new-favorite-search
                search-fn="search"
                clear-search-fn="clearSearch"
                enter-fn="addFeedOnEnter"
                loading="loading"
                placeholder="{{'favorites.rss.rssFeedSearch' | translate | capitalize}}"
                input-type="text"
                search-string="searchString">
        </add-new-favorite-search>
    </div>
    <div class="add-favorite-search-result">
        <ul role="list" aria-label="{{'favorites.ariaLabels.searchResults' | translate}}">
            <li role="listitem" class="bar" ng-repeat="result in searchResults"><a href="" ng-click="addFeed(result.url)">{{result.title | stripHTML}}</a></li>
        </ul>
    </div>
</div>