<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
  -->

<section class="favorites-list__item rss-feed" ng-class="getFeedClasses()" data-feed-url="{{data.url}}">
  <div ng-if="feed">
    <div class="box-story__topical rss-header">
      <span class="box-story__date" ng-bind="feedDateLocalized"></span>
      <a class="box-story__tag" href="{{ feedLink }}" target="_blank"><span>{{ feedTitle }}</span></a>
    </div>
    <div class="rss-content">     
      <article ng-repeat="feedItem in feed.entries" class="rss-feed__item">
          <h4 class="rss-feed__item-title"><a href="{{feedItem.link}}" target="_blank">{{feedItem.title}}</a></h4>
          <div class="rss-feed__date">{{feed.title}} {{feedItem.publishedDate | convertDateFormat:'D.M.YYYY'}}</div>
      </article>
    </div>
  </div>

  <div ng-if="singleFeedItem" class="box-story">
      <a href="{{singleFeedItem.link}}" target="_blank" class="box-story__link-wrapper" >
          <div class="single-item-image-container" ng-style="getSingleItemStyle()">
          </div>
          <div class="box-story__topical rss-header">
            <span class="box-story__date" ng-bind="feedDateLocalized"></span>
            <a class="box-story__tag" href="{{ feedLink }}" target="_blank">
              <span>{{ feedTitle }}</span>
            </a>
          </div>
          <h4 class="rss-feed__item-title">
              <a href="{{ singleFeedItem.link }}" target="_blank">{{ singleFeedItem.title }}</a>
          </h4>
          <div class="box-story__content">
              {{ metaData.description }}
          </div>
      </a>
    </div>
  
</section>