/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.study-attainments {
  margin-top: 0.5em;
}

.study-attainment__item {
  @extend .box-data, .border-bottom;
  padding-top: 15px;
}

.study-attainment__visibility {
  @extend .box-data__content, .clickable;

  float: left;
  padding: 5px 10px 5px 10px;
  font-size: 2em;
  &:hover {
    color: $lightgray;
  }
}

.study-attainment__left {
  @extend .box-data__left;
}

$study-attainment-grade-font-sizes: 30px, 25px, 20px, 15px;
$study-attainment-grade-base-name: "study-attainment__grade";
@for $i from 1 through length($study-attainment-grade-font-sizes) {
  .#{$study-attainment-grade-base-name}--#{$i} {
    @extend .box-data__date;

    font-size: nth($study-attainment-grade-font-sizes, $i);
  }
}

.study-attainment__date {
  @extend .box-data__content;
}

.study-attainment__title {
  @extend .box-data__title;
}

.study-attainment__teachers {
  @extend .box-data__content;
}
