/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.toggle-button {
  @include button;

  display: inline;
  padding: 0.3em 1em;

  &.is-active {
    background-color: $darkblue;
  }
}

.add-new-content {
  position: relative;
  margin-top: 2em;
  width: 100%;

  .list-of-links {
    @include breakpoint($small) {
      max-width: 238px;
    }
  }

  .button--action {
    margin-top: 1em;
  }
}

.edit-buttons {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 0.5em;
  }
}

button.button--link {
  background: transparent;
  color: $blue;
  padding: 0;

  :hover {
    color: $darkblue;
  }
}

.component-header button.toggle-edit,
button.toggle-edit {
  color: $white;
  padding: 0.25em;
  font-size: 0.75em;
  text-transform: capitalize;
  white-space: nowrap;

  i:hover {
    color: $white;
  }
}

.component-header button.visibility-toggle {
  padding-top: 0.1em;
}
