/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.change-avatar__container {
  display: flex;
  position: relative;

  .dropdown-content {
    @include triangle-with-border(12px, 12px, $color : $white, $border-color : $lightsilver, $align:left);
    @include font-size(13px);

    text-transform: none;
    top: 65px;
    width: 260px;
    padding: 1em;
    white-space: nowrap;

    button.link {
      padding: 0;
      background: transparent;
    }
  }
}

.change-avatar__button {
  width: 50px;
  height: 50px;
  padding: 0;
  color: $blue;
  display: block;
  background-color: white;
  z-index: 1;
}
