/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

  // Color codes are from the Styleguide
$facebook-bg: #547bb9;
$youtube-bg: #e6644a;
$twitter-bg: #5ea9dd;
$linkedin-bg: #1483c4;
$instagram-bg: #125688;

$tuhat-bg: $black;
$free-link-bg: $black;


@mixin social-media-icon($icon, $background-color) {
  background-color: $background-color;

  &::before {
    @include icon($icon);
  }

  &.social-media-link-icon--edit {
    background-color: transparent;
  }
}

@mixin social-media-link-icon($unicode : "") {
  font-size: 24px;
  font-family: "hy-icons";
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: bottom;
  @if ($unicode) {
    content: $unicode;
  }
}


.contact-information {
  position: relative;

  .component-header {
    margin-bottom: 1em;
  }

  .contact-details {
    &__name {
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 1em;
    }
    &__field {
      margin-bottom: 0.5em;
    }

    a {
      font-weight: 600;
    }
  }

  .block {
    margin-bottom: 5px;
    padding: 10px 10px;
    border: 1px solid $lightsilver;
    position: relative;
    overflow: hidden;
  }

  .useful-links__edit-link-url {
    padding: 0;
    margin: 0;
    border: none;
    input {
      padding-right: 3em;
    }
  }

  .edit-contact-details {
    input {
      margin-bottom: 0.5em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .list-of-links__link.edit {
    word-break: break-all;
  }

  .social-media-link-icon {
    display: inline-block;
    height: 100%;
    width: 60px;
    line-height: 60px;
    color: $white;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;

    &::before {
      font-size: 1.3em;
    }

    &--facebook {
      @include social-media-icon($icon-facebook, $facebook-bg);
    }

    &--twitter {
      @include social-media-icon($icon-twitter, $twitter-bg);
    }

    &--youtube {
      @include social-media-icon($icon-youtube, $youtube-bg);
    }

    &--research_gate {
      background: transparent url("../icons/rg_logo_square_brand.png") no-repeat center center;
      background-size: cover;
    }

    &--academia {
      background: transparent url("../icons/academia.png") no-repeat center center;
      background-size: cover;
    }

    &--tuhat {
      @include social-media-icon($icon-hy-logo, $tuhat-bg);
    }

    &--website_link {
      @include social-media-icon($icon-url, $free-link-bg)
    }

    &--linkedin {
      background: transparent url("../icons/In-2CRev-66px-R.png") no-repeat center center;
      background-size: cover;
    }

  }

  .editing {
    li {
      background-color: $gray;
      > a {
        padding: 0 3em 0 1em;
        color: $white;
      }
    }
    input.ng-invalid {
      border: 1px solid $red;
    }
  }

  input[type="url"] {
    @extend input[type="text"];
    width: calc(100% - 60px);
  }
}

.contact-information__social-media-link {
  margin-bottom: 5px;
  border: 1px solid $lightsilver;
  background-color: transparent;
  color: $blue;

  &.social-media-link__icon {
    &--facebook::after {
      @include social-media-link-icon($icon-facebook);
      background-color: $facebook-bg;
    }
    &--facebook:hover::after {
      background-color: darken($facebook-bg, 10%);
    }

    &--twitter::after {
      @include social-media-link-icon($icon-twitter);
      background-color: $twitter-bg;
    }
    &--twitter:hover::after {
      background-color: darken($twitter-bg, 10%);
    }

    &--youtube::after {
      @include social-media-link-icon($icon-youtube);
      background-color: $youtube-bg;
    }
    &--youtube:hover::after {
      background-color: darken($youtube-bg, 10%);
    }

    &--linkedin::after {
      @include social-media-link-icon($icon-linkedin);
      background-color: $linkedin-bg;
    }
    &--linkedin:hover::after {
      background-color: darken($linkedin-bg, 10%);
    }

    &--instagram::after {
      @include social-media-link-icon($icon-instagram);
      background-color: $instagram-bg;
    }
    &--instagram:hover::after {
      background-color: darken($instagram-bg, 10%);
    }

    &--tuhat::after {
      @include social-media-link-icon($icon-hy-logo);
      background-color: $tuhat-bg;
    }
    &--tuhat:hover::after {
      background-color: darken($tuhat-bg, 10%);
    }

    &--research_gate::after {
      @include social-media-link-icon();
      background: transparent url("../icons/rg_logo_square_brand.png") no-repeat center center;
    }
    &--research_gate:hover::after {
      opacity: 0.9;
    }

    &--academia::after {
      @include social-media-link-icon();
      background: transparent url("../icons/academia.png") no-repeat center center;
      background-size: cover;
    }

    &--website_link::after {
      @include social-media-link-icon($icon-url);
      background-color: $free-link-bg;
    }
  }
}
