/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.editable-wrapper {

  textarea {
    width: 100%;
  }

  .editable {
    background-color: $gray;

    .editable-content {
      padding: 2px;
      color: $white;
      cursor: pointer;

      .icon--edit-event {
        margin-left: 0.5em;
      }

      &:hover {
        background-color: $darkgray;
      }
    }
  }
}

.editable-content-active {
  $done-icon-size: 16px;
  $done-icon-right-offset: 5px;
  position: relative;

  input {
    padding: 3px;
    border: 0;
    background-color: $white;
    font-weight: normal;
    width: 100%;
    padding-right: $done-icon-size + $done-icon-right-offset;
  }

  .icon--done {
    right: $done-icon-right-offset;
    font-size: $done-icon-size;
    @include vertically-center;
    color: $blue;
    &:hover {
      cursor: pointer;
    }
  }
}
