/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.free-text-content {
  position: relative;

  &__title-container--edit {
    @extend .ui-component__title--edit;
  }

  &__text {
    margin-top: 0.2em;

    .ne-image,
    .ne-video {
      white-space: normal;
    }

    .ne-image {
      max-height: none;
    }

    .ne-image-wrapper,
    .ne-video-player {
      background-color: $white;
    }

    &--edit {
      margin-top: 0.2em;
      height: 200px;
    }
  }

  &__iframe {
    max-width: 100%;
  }
}

.add-free-text-content {
  position: relative;
  height: 9em;

  @include border;

  &__add-new {
    @extend .add-favorite-button;
    @extend .island;

    &::after {
      content: '+';
      font-weight: bold;
      font-size: 6em;
      text-align: center;
      display: block;
      position: absolute;
      left: 50%;
      top: 1em;
      transform: translate(-50%, -50%);
    }
  }

  .component-header {
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__title {
    @extend .add-favorite-button__title;

    position: relative;
    padding-right: 0.5em !important;

    .hide-mobile-only {
      margin-right: 0.5em;
    }
  }

  .help-icon {
    margin-top: 1.5em;
  }
}
