/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.language-proficiency-list {
  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;

  margin-top: 1em;

  @include breakpoint($medium) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__add-new-container {
    @include flex-container(center, stretch);
    width: 300px;
    height: 100px;
    flex: 0 0 auto;
    margin: 0 2px 1px 0;
    border-bottom: 1px solid $lightsilver;
  }

  &__add-new {
    @include flex-container(center, center);
    flex: 1 1 auto;
    font-size: 3em;
    color: $blue;

    &:hover {
      color: $darkblue;
    }

    &::before {
      content: '+';
    }
  }
}

.language-proficiency-item {
  $background-color-edit: #797979;
  @include flex-container(flex-start);
  flex: 0 0 auto;
  width: 300px;
  min-height: 100px;
  margin: 0 4px 2px 0;
  border: 1px solid $mediumsilver;
  position: relative;

  .editing & {
    background-color: $background-color-edit;
    color: $white;
  }

  &__content {
    padding: 20px;
    flex: 1 1 auto;
  }

  &__language-name, &__proficiency, &__description {
    color: $gray;
    &:hover {
      color: $gray;
    }
    @include default-focus;
  }

  .item-visibility {
    align-self: flex-start;
    padding: 0.3em 0.5em 0 0;

    .visibility-toggle {
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }

  &__remove {
    align-self: flex-start;
    padding: 0.3em 0.5em 0 0;
    color: $white;

    &:hover {
      color: $white;

      .icon--trash {
        font-weight: 600;
      }
    }
  }

  &__language-name {
    @include flex-container(space-between, center);
    font-weight: 600;
    margin-bottom: 0.3em;
  }

  &__proficiency {
    @include flex-container(space-between, center);
    margin-bottom: 1em;
  }

  &__description {
    @include flex-container(space-between, center);
  }

  &__private {
    position: absolute;
    top: 1em;
    right: 1em;
  }
}
