/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

@include breakpoint(print) {
  .cookie-notification, .l-header, .navigation,
  .edit-link, .visibility-toggle, .add-favorite-button,
  .keywords-input-container, .new-degree, .favorites-list__remove,
  .popover-wrapper, .language-proficiency-list__add-new ,
  .work-experience__add-new, .add-free-text-content, .favorites-list__item-wrapper,
  .feedback-container, .work-experience > li:last-child,
  .l-footer, .page-banner__image, .messages, .profile-intro__keywords {
    display: none !important;
  }

  @page
  {
    margin: 10mm 10mm 10mm 10mm;
  }

  @include default-grid-layout;

  .l-content-secondary-wrapper {
    display: block !important;
  }

  .profile-user-image {
    width: 150px;
    height: 150px;
  }

  .ui-component__title {
    text-align: left !important;
    margin-bottom: 20px !important;
    margin-top: 40px !important;
  }

  .page-banner-container {
    height: auto;
  }

  .banner-content__banner {
    width: 200px !important;
    flex-shrink: 0;
  }

  .banner-content__item {
    page-break-inside: avoid;
    display: flex;
  }

  .banner-content__details-container {
    flex-grow: 1;
    width: auto !important;
    margin: 0 0 0 15px !important;
  }

  .banner-content__full-description {
    display: block !important;
  }

  .banner-content__description {
    display: none !important;
  }

  .banner-content__show-less {
    display: none !important;
  }

  h2, p {
    color: $black !important;
  }

  * {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  li {
    page-break-inside: avoid;
  }

}
