/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.profile-section__outer-container {
  display: flex;
}

.profile-intro__title,
.ui-component__title {
  hyphens: auto;
}

.profile:not(.is-preview) .profile-section {
  .ui-component__title {
    text-align: left;

    &.is-editable {
      display: inline-block;
      padding-right: 2em;

      &:hover {
        cursor: pointer;
        background-color: inherit;
        color: inherit;

        a {
          color: inherit;
        }

        &::after {
          position: absolute;
          margin-left: 0.5em;
          font-size: 1em;

          @include icon($icon-edit);
        }
      }
    }

    &--edit {
      margin-right: 0.5em;

      input {
        display: inline-block;
        padding: 0 0.2em;
        font-size: 2.5em;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: -0.05em;
        width: 100%;

        @include breakpoint($mobile-only) {
          font-size: 1.75rem;
        }
      }
    }
  }
}

.profile:not(.is-preview) .profile-components__dropzone:not(.drag-disabled) > .profile-section {
  .profile-section__drag-handle {
    margin-top: -0.3em;
    width: 4em;

    &::before {
      content: url("../../assets/icons/drag-icon.svg");
      color: $darkgray;
      margin-right: 0.5em;
      position: relative;

      @include breakpoint($mobile-only) {
        font-size: 1.4rem;
        top: -0.3em;
      }
    }
  }
}

.profile-section__body {
  flex-grow: 30;
}

.settings-header {
  &__actions {
    position: absolute;
    top: 0.25em;
    right: 0;
  }
}

.visibility-toggle {
  background: none;
}
