/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.profile-visibility {
  display: flex;
  align-items: center;

  .help-icon {
    margin-left: 0.5em;
  }

  select {
    background-color: $limegreen;
    border: 0;
    color: $white;
    height: 32px;
    padding: 0;
    padding-left: 10px;
    padding-right: 2em;
    text-transform: capitalize;

    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-image:
      linear-gradient(45deg, transparent 50%, #FFF 50%),
      linear-gradient(135deg, #FFF 50%, transparent 50%);
    background-position:
      calc(100% - 21px) 0.85em,
      calc(100% - 14px) 0.85em;
    background-size:
      8px 7px,
      7px 7px;
  }

  select::-ms-expand {
    display: none;
  }
}
