/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

$work-experience-description-height: 85px;
$work-experience-description-edit-height: 82px;

.job-search .banner-content__backdrop {
  background-color: $blue--active;
  .editable & {
    background-color: $darkblue;
  }
}

.work-experience__outer_container {
  display: flex;
  background-color: $lightsilver;
  border: 1px solid $mediumsilver;
  margin-top: 1em;
  padding: 1em;

  .banner-content__details-container {
    flex: 1;
    width: auto;
  }
}

.banner-content__drag-handle {
  padding-top: 2em;
  flex-grow: 1;
  padding-right: 0.5em;
  height: 100%;
  @include user-select(none);

  &:before {
    content: $icon-drag;
    font-size: 2rem;
    color: $black;
    font-family: "hy-icons";
    vertical-align: middle;
  }
}

.work-experience .banner-content__banner-text {
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    margin: 0 2px;
  }

  input {
    width: 70px !important;
  }
}

.job-search .banner-content__description, .work-experience .banner-content__description {
  p {
    height: initial;
    max-height: $work-experience-description-height;
  }

  textarea {
    height: $work-experience-description-edit-height;
  }
}

.job-search {
  .banner-content__banner {
    height: 3em;
  }

  .banner-content__remove {
    color: $white;
    @include vertically-center;
  }

  &.work-experience__outer_container {
    display: block;
  }

  .banner-content__details-container {
    margin-top: 1em;
  }

  .banner-content__banner-text {
    text-transform: none ;
  }
}

input.work-experience__date-input {
  width: 6em;
}

.work-experience {
  position: relative;

  &__default_image {
    font-size: 3em;
    color: $blue;
  }

  .banner-content {
    &__remove {
      background-color: transparent;
    }
  }

  &__title {
    font-weight: bold;

    div {
      margin-bottom: 4px;
    }
  }

  &__job-title {
    font-size: 1.25em;
  }

  &__employer {
    font-size: 1.25em;
    color: $blue;
  }

  &__editor-content {
    color: $black;
    width: 80%;

    @include breakpoint($mobile-only) {
      width: 100%;
    }

    label {
      color: $black;
      font-weight: bold;
    }
  }

  &--private {
    position: absolute;
    top: 1em;
    right: 1em;
    color: $darkgray;
  }

  .item-visibility {
    position: absolute;
    top: 0;
    right: 3em;
  }
}
