<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<section class="ui-component contact-information">
  <div class="component-header">
    <div class="contact-information__title"
         translate translate-language="{{::profileLang}}">
      contactInformation.title
    </div>
    <div class="component-header__actions">
      <visibility-toggle component-id="CONTACT_INFORMATION"></visibility-toggle>
      <edit-link on-edit="edit()" on-exit-edit="exitEdit()"></edit-link>
    </div>
  </div>

  <div ng-show="!editing">
    <div class="block">
      <div class="contact-details">
        <div class="contact-details__name">{{::ownerName}}</div>
        <div limit-visibility="{roles: ['STUDENT']}">
          <div class="contact-details__field" ng-show="contactInfo.phoneNumber">
            <span translate translate-language="{{::profileLang}}">
              contactInformation.phoneNumber
            </span>&nbsp;
            <span>
              {{ contactInfo.phoneNumber }}
            </span>
          </div>
          <div class="contact-details__field" ng-show="contactInfo.email">
            <a href="mailto:{{ contactInfo.email }}">{{ contactInfo.email }}</a>
          </div>
        </div>
        <div limit-visibility="{roles: ['TEACHER']}">
          <div class="contact-details__field" ng-show="contactInfo.title">
            {{ contactInfo.title }}
          </div>
          <div class="contact-details__field" ng-show="contactInfo.faculty">
            {{ contactInfo.faculty }}
          </div>
          <div class="contact-details__field" ng-show="contactInfo.financialUnit">
            {{ contactInfo.financialUnit }}
          </div>
          <div class="contact-details__field" ng-show="contactInfo.workAddress">
            {{ contactInfo.workAddress }}
            <span ng-show="contactInfo.workPostcode">, {{ contactInfo.workPostcode }}</span>
          </div>
          <div class="contact-details__field" ng-show="contactInfo.email">
            <a href="mailto:{{:: contactInfo.email }}">{{ contactInfo.email }}</a>
          </div>
          <div class="contact-details__field" ng-show="contactInfo.workMobile">
            <span translate translate-language="{{::profileLang}}">
              contactInformation.phoneNumber
            </span>&nbsp;
            <span>
              {{ contactInfo.workMobile }}
            </span>
          </div>

        </div>
      </div>
    </div>
    <ul>
      <li ng-repeat="someLink in contactInfo.someLinks | orderBy: 'type'">
        <a href="{{ someLink.url }}" tabindex="0" target="_blank" aria-label="{{ 'contactInfo.' + someLink.type | translate }}"
           class="button--action social-media-link__icon--{{ someLink.type | lowercase }} contact-information__social-media-link">
          {{ 'contactInformation.' + someLink.type | translate }}
        </a>
      </li>
    </ul>
  </div>

  <div ng-show="editing" class="editing">
    <form name="editContactInformation">
      <div class="block">
        <div class="contact-details">
          <div class="name">{{ profile.ownerName }}</div>
        </div>
        <div class="edit-contact-details">
          <div limit-visibility="{roles: ['STUDENT']}">
            <input ng-model="contactInfo.phoneNumber" type="text"
                   placeholder="{{::('contactInformation.addPhoneNumber' | translate)}}">
            <input ng-model="contactInfo.email" type="email"
                   placeholder="{{::('contactInformation.addEmail' | translate)}}">
          </div>
          <div limit-visibility="{roles: ['TEACHER']}">
            <input ng-model="contactInfo.title" type="text"
                   placeholder="{{::('contactInformation.addTitle' | translate)}}">
            <input ng-model="contactInfo.faculty" type="text"
                   placeholder="{{::('contactInformation.addFaculty' | translate)}}">
            <input ng-model="contactInfo.financialUnit" type="text"
                   placeholder="{{::('contactInformation.addFinancialUnit' | translate)}}">
            <input ng-model="contactInfo.workAddress" type="text"
                   placeholder="{{::('contactInformation.addWorkAddress' | translate)}}">
            <input ng-model="contactInfo.workPostcode" type="text"
                   placeholder="{{::('contactInformation.addWorkPostcode' | translate)}}">
            <input ng-model="contactInfo.email" type="email"
                   placeholder="{{::('contactInformation.addEmail' | translate)}}">
            <input ng-model="contactInfo.workMobile" type="text"
                   placeholder="{{::('contactInformation.addWorkMobile' | translate)}}">
            <a
              role="button"
              href=""
              ng-click="reloadEmployeeContactInformation()"
              translate="contactInformation.reload">
            </a>
          </div>
        </div>
      </div>
      <ul>
        <li ng-repeat="someLink in contactInfo.someLinks | orderBy: 'type'"
            class="block">
          <input name="{{someLink.type}}" ng-model="someLink.url" type="url" placeholder="{{someLink.baseUrl}}" />
          <i class="social-media-link-icon social-media-link-icon--edit social-media-link-icon--{{ someLink.type | lowercase }}"></i>
        </li>
      </ul>
    </form>
  </div>
</section>
