<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div>
  <div limit-visibility="{sectionName: 'TEACHING'}" class="tab-content__content-area">
    <div class="tab-content__visibility-toggle">
      <visibility-toggle section-name="TEACHING"></visibility-toggle>
    </div>

    <accordion heading-key="teachingTabAccordions.development">
      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'ASSESSMENT'}"
                         portfolio-section="TEACHING"
                         instance-name="ASSESSMENT"
                         heading-key="developmentAccordionComponents.assessment"
                         single-entry>
      </free-text-content>

      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'FEEDBACK'}"
                         portfolio-section="TEACHING"
                         instance-name="FEEDBACK"
                         heading-key="developmentAccordionComponents.feedback"
                         single-entry>
      </free-text-content>

      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'PEDAGOGIC_THINKING'}"
                         portfolio-section="TEACHING"
                         instance-name="PEDAGOGIC_THINKING"
                         heading-key="developmentAccordionComponents.thinking"
                         single-entry>
      </free-text-content>

      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'PEDAGOGIC_TRAINING'}"
                         portfolio-section="TEACHING"
                         instance-name="PEDAGOGIC_TRAINING"
                         heading-key="developmentAccordionComponents.training"
                         single-entry>
      </free-text-content>
    </accordion>

    <accordion heading-key="teachingTabAccordions.practices">
      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'INTERNATIONALITY'}"
                         portfolio-section="TEACHING"
                         instance-name="INTERNATIONALITY"
                         heading-key="practicesAccordionComponents.internationality"
                         single-entry>
      </free-text-content>

      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'SUPERVISION'}"
                         portfolio-section="TEACHING"
                         instance-name="SUPERVISION"
                         heading-key="practicesAccordionComponents.supervision"
                         single-entry>
      </free-text-content>
    </accordion>

    <accordion heading-key="teachingTabAccordions.materials">
      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'RESEARCH_BASED'}"
                         portfolio-section="TEACHING"
                         instance-name="RESEARCH_BASED"
                         heading-key="materialsAccordionComponents.researchBased"
                         single-entry>
      </free-text-content>

      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'COOPERATION'}"
                         portfolio-section="TEACHING"
                         instance-name="COOPERATION"
                         heading-key="materialsAccordionComponents.cooperation"
                         single-entry>
      </free-text-content>
    </accordion>

    <accordion heading-key="teachingTabAccordions.collaborativeDevelopment">
      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'TEACHING_COLLABORATION'}"
                         portfolio-section="TEACHING"
                         instance-name="TEACHING_COLLABORATION"
                         heading-key="collaborativeDevelopmentAccordionComponents.teachingCollaboration"
                         single-entry>
      </free-text-content>

      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'MULTIDISCIPLINARY_COOPERATION'}"
                         portfolio-section="TEACHING"
                         instance-name="MULTIDISCIPLINARY_COOPERATION"
                         heading-key="collaborativeDevelopmentAccordionComponents.multidisciplinaryCooperation"
                         single-entry>
      </free-text-content>
    </accordion>
  </div>
</div>
