<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div>
  <div limit-visibility="{sectionName: 'TEACHING'}" class="tab-content__content-area">
    <div class="tab-content__visibility-toggle">
      <visibility-toggle section-name="TEACHING"></visibility-toggle>
    </div>

    <accordion heading-key="teachingTabAccordions.teachingExperience"
               portfolio-lang="{{::portfolio.lang}}">
      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'COURSES_TAUGHT'}"
                         portfolio-section="TEACHING"
                         instance-name="COURSES_TAUGHT"
                         heading-key="teachingExperienceAccordionComponents.courses"
                         single-entry
                         portfolio-lang="{{::portfolio.lang}}">
      </free-text-content>

      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'THESIS_SUPERVISION'}"
                         portfolio-section="TEACHING"
                         instance-name="THESIS_SUPERVISION"
                         heading-key="teachingExperienceAccordionComponents.thesisSupervision"
                         single-entry
                         portfolio-lang="{{::portfolio.lang}}">
      </free-text-content>

      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'PRACTICES'}"
                         portfolio-section="TEACHING"
                         instance-name="PRACTICES"
                         heading-key="teachingExperienceAccordionComponents.practices"
                         single-entry
                         portfolio-lang="{{::portfolio.lang}}">
      </free-text-content>

      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'FEEDBACK'}"
                         portfolio-section="TEACHING"
                         instance-name="FEEDBACK"
                         heading-key="teachingExperienceAccordionComponents.feedback"
                         single-entry
                         portfolio-lang="{{::portfolio.lang}}">
      </free-text-content>
    </accordion>

    <accordion heading-key="teachingTabAccordions.pedagogicalTraining"
               portfolio-lang="{{::portfolio.lang}}">
      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'COURSES_COMPLETED'}"
                         portfolio-section="TEACHING"
                         instance-name="COURSES_COMPLETED"
                         heading-key="pedagogicalTrainingAccordionComponents.courses"
                         single-entry
                         portfolio-lang="{{::portfolio.lang}}">
      </free-text-content>
    </accordion>

    <accordion heading-key="teachingTabAccordions.materials"
               portfolio-lang="{{::portfolio.lang}}">
      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'MATERIALS'}"
                         portfolio-section="TEACHING"
                         instance-name="MATERIALS"
                         heading-key="materialsAccordionComponents.materials"
                         single-entry
                         portfolio-lang="{{::portfolio.lang}}">
      </free-text-content>
    </accordion>

    <accordion heading-key="teachingTabAccordions.accomplishments"
               portfolio-lang="{{::portfolio.lang}}">
      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'CURRICULUM_DESIGN'}"
                         portfolio-section="TEACHING"
                         instance-name="CURRICULUM_DESIGN"
                         heading-key="accomplishmentsAccordionComponents.curriculumDesign"
                         single-entry
                         portfolio-lang="{{::portfolio.lang}}">
      </free-text-content>

      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'TEACHING_COLLABORATION'}"
                         portfolio-section="TEACHING"
                         instance-name="TEACHING_COLLABORATION"
                         heading-key="accomplishmentsAccordionComponents.collaborativeTeaching"
                         single-entry
                         portfolio-lang="{{::portfolio.lang}}">
      </free-text-content>

      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'AWARDS'}"
                         portfolio-section="TEACHING"
                         instance-name="AWARDS"
                         heading-key="accomplishmentsAccordionComponents.awards"
                         single-entry
                         portfolio-lang="{{::portfolio.lang}}">
      </free-text-content>

      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'RESEARCH'}"
                         portfolio-section="TEACHING"
                         instance-name="RESEARCH"
                         heading-key="accomplishmentsAccordionComponents.research"
                         single-entry
                         portfolio-lang="{{::portfolio.lang}}">
      </free-text-content>

      <free-text-content limit-visibility="{componentId: 'FREE_TEXT_CONTENT',
                                            sectionName: 'TEACHING',
                                            instanceName: 'ADVISING'}"
                         portfolio-section="TEACHING"
                         instance-name="ADVISING"
                         heading-key="accomplishmentsAccordionComponents.advising"
                         single-entry
                         portfolio-lang="{{::portfolio.lang}}">
      </free-text-content>
    </accordion>
  </div>
</div>
