/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.event-calendar {

  $today-color: #e5f3f9;

  @include border-top;

  padding-bottom: 1em;

  h2 {
    @include font-size(20px);
    text-align: center;
    position: relative;
    top: 5px;
  }

  .fc-day-header {
    color: $black;
    text-transform: uppercase;
    text-align: left;
    padding: 0.2em;
  }

  .fc-week-number {
    text-align: center;
    color: $silver;
    text-transform: uppercase;
    font-weight: normal;
    @include font-size(14px);
  }

  .fc-day-grid-event, .fc-time-grid-event {
    border-radius: 0;
  }

  .fc-event-container {
    .fc-content {
      @include font-size(9px);
    }
  }

  .fc-left .fc-button {
    @include button;
    @include font-size(15px);
    background-image: none;
    border-radius: 0;
    text-shadow: none;
    padding: 0 0.7em;
    box-shadow: none;
    &.fc-state-active {
      background-color: $darkblue;
    }
  }

  .fc-right .fc-button {
    @extend %button--light;
    @include font-size(15px);
    padding: 0 0.7em;
    background: transparent;
    border-radius: 0;
  }

  .fc-today-button, .event-calendar__button {
    text-transform: capitalize;
  }

  .fc-state-disabled {
    opacity: 1;
  }

  .fc-prev-button, .fc-next-button {
    padding: 0 0.3em !important;
  }

  .fc-icon {
    position: relative;
    top: -1px !important;
  }

  .fc-icon-calendar-prev {
    @include transform(rotate(180deg));
    &:before {
      @include hy-icon("\EA1B");
    }
  }

  .fc-icon-calendar-next {
    &:before {
      @include hy-icon("\EA1B");
    }
  }

  @include breakpoint($mobile-only) {
    padding-top: 0.5em;
    .fc-right, .fc-left, .fc-center {
      display: block;
      width: 100%;
    }

    .fc-right, .fc-center {
      margin-top: 0.5em;
    }
  }

  @include breakpoint($small) {
    padding-top: 1em;
  }

  .fc-today{
    background-color: $today-color;
  }
}