$icon-size: 20px;
$tooltip-width: 300px;
$tooltip-width-mobile: 200px;

.help-icon {
  font-size: $icon-size;
  position: relative;
  top: 3px;
}

.help-icon__popover {
  @extend .dropdown-menu;
  @include triangle-with-border(12px, 12px);
  @include font-size(13px);
  position: relative;
  background-color: $white;
  border: 1px solid $lightsilver !important;
  padding: 1em;
  right: -15px;
  top: 5px;
  @include breakpoint($mobile-only) {
    width: $tooltip-width-mobile;
  }
  @include breakpoint($small) {
    width: $tooltip-width;
  }
}
