/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.lander-wrapper {
  .l-footer {
    display: none;
  }
}

.login-page-wrapper {
  max-width: 350px;
}

.login-page__title {
  color: $white;
}

.login-page__intro {
  color: $white;
  font-size: 1.25rem;
}

.button-internal--dark.login-page__login-link {
  width: 200px;
  margin-top: 30px;
}

.lander-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('/api/public/v1/images/backgrounds/Profile_2.jpg');
  background-size: cover;

  .gradient-overlay {
    width: 100%;
    height: 100%;
    @include linear-gradient-from-left(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  }
}

.login-page__read-more {
  text-transform: uppercase;
  color: $white;
  font-size: .93em;
  font-weight: 600;
  letter-spacing: .01em;
  &:hover {
    color: $blue;
  }
}