/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

$page-banner-toggle-size: 50px;
$page-banner-toggle-size-mobile: 25px;

.page-banner {
  position: relative;

  &--open {
    @include breakpoint($small) {
      height: $page-banner-height;
    }
  }

  .list-of-links--dark a {
    @include breakpoint($small) {
      display: inline-block;
      padding-right: 4em;
    }
  }

  .flexslider {
    margin: 0;
    border: 0;
  }
}

.page-banner--pager {
  @extend .wrapper;
  position: relative;
  left: 1em;
  top: 1em;
  z-index: 10;

  .flex-control-nav {
    @include breakpoint($mobile-only) {
      display: none;
    }
    @include breakpoint($small) {
      top: 0;
      text-align: left;
    }
  }

  .flex-control-paging li a {
    $pager-control-size: 7px;
    border-radius: 0;
    width: $pager-control-size;
    height: $pager-control-size;
    background-color: $blue;
    &.flex-active {
      background-color: $black;
    }
  }
}



.page-banner__news-item-container, .page-banner__todo-items-container {
  @extend .wrapper;
  position: relative;
}

.page-banner__news-item {
  @include breakpoint($mobile-only) {
    padding: 3em 1em 1em 1em;
    text-align: center;
  }

  @include breakpoint($small) {
    max-width: 60%;
    position: relative;
    top: 1.5em;
    left: 1em;
  }
}

.page-banner__title {
  max-height: 180px;
  @include breakpoint($small) {
    color: $white;
    text-shadow: 0 1px 2px $black;
  }
}

.page-banner__text {
  max-height: 100px;
  @include breakpoint($small) {
    color: $white;
    text-shadow: 0 1px 2px $black;
  }
}

.page-banner__image {
  position: absolute;
  top: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: $page-banner-height;
  @include breakpoint($mobile-only) {
    height: $page-banner-height-mobile;
  }
}

.page-banner__image-cover {
  width: 80%;
  height: 100%;
  @include linear-gradient-from-left(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.page-banner__change-background-container {
  width: 100%;
  position: absolute;
  bottom: 1px;
  @include breakpoint($mobile-only) {
    z-index: 9;
    bottom: -$page-banner-toggle-size;
  }
}

.page-banner__change-background {
  width: $page-banner-toggle-size;
  height: $page-banner-toggle-size;
  position: relative;
  @include breakpoint($small) {
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin page-banner-button($color, $background-color) {
  width: $page-banner-toggle-size;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: $background-color;
  color: $color;
  text-align: center;
  z-index: 3;
  @include all-link-states {
    color: $color;
  }
  @include breakpoint($mobile-only) {
    float: right;
    height: $page-banner-toggle-size-mobile;
  }
  @include breakpoint($small) {
    margin-left: auto;
    margin-right: auto;
    height: $page-banner-toggle-size;
  }
}

.page-banner__button {
  @include page-banner-button($white, $blue);
}

.page-banner__button--light {
  @include breakpoint($mobile-only) {
    @include page-banner-button($blue, transparent);
  }
  @include breakpoint($small) {
    @include page-banner-button($blue, $white);
  }
}

@mixin page-banner-button-icon($icon, $size) {
  position: absolute;
  display: block;
  &:before {
    font-size: $size;
    @include hy-icon($icon);
  }
}

.page-banner__button-icon--arrow {
  @include page-banner-button-icon("\EA03", 18px);
  @include breakpoint($small) {
    top: 14px;
  }
}

.page-banner__button-icon--arrow-up {
  @extend .page-banner__button-icon--arrow;
  @include transform(rotate(270deg));
  left: 17px;
}

.page-banner__button-icon--arrow-down {
  @extend .page-banner__button-icon--arrow;
  @include transform(rotate(90deg));
  left: 14px;
}

.page-banner__button-icon--camera {
  @include page-banner-button-icon("\EA07", 24px);
  left: 13px;
  top: 14px;
}

.page-banner__change-background-menu {
  @extend .dropdown-menu;
  @include font-size(13px);
  position: absolute;
  white-space: nowrap;
  padding: 1em;
  @include breakpoint($small) {
    @include triangle-with-border(12px, 12px);
    top: $page-banner-toggle-size + 20px;
  }
  @include breakpoint($mobile-only) {
    @include triangle-with-border(12px, 12px, $white, $lightsilver, left);
    top: $page-banner-toggle-size;
    left: 0;
    border: 1px solid $lightsilver !important;
  }
}

.page-banner-toggle {
  width: 100%;

  @include breakpoint($mobile-only) {
    @include border-top;
  }

  @include breakpoint($small) {
    position: absolute;
    bottom: -$page-banner-toggle-size;
    &--banner-hidden {
      @include border-top;
    }
  }
}