/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

$page-banner-toggle-size: 50px;

.page-banner-container {

  position: relative;

  .flexslider-container {
    @include breakpoint($small) {
      height: $page-banner-height;
    }
  }

  .flexslider {
    border: none;
    margin: 0;

    @include breakpoint($small) {
      height: 100%;
      h1 {
        max-height: 180px;
      }

      p {
        max-height: 110px;
      }
    }
  }

  .page-banner {
    position: relative;

    .page-banner__content {
      @include clearfix;
      position: relative;
      z-index: 1;
    }

    p {
      color: $darkgray;
    }

    @include breakpoint($mobile-only) {
      .page-banner__image {
        height: $page-banner-height-mobile;
      }
      .page-banner__content-left {
        text-align: center;
        padding: 2rem 1rem;
      }
    ;
    }

    @include breakpoint($small) {
      h1 {
        color: $white;
        text-shadow: 0 1px 2px $black;
      }
      p {
        color: $white;
        text-shadow: 0 1px 2px $black;
      }
      .page-banner__image {
        height: $page-banner-height;
      }
      .page-banner__content {
        padding: 2.5rem 1rem;
      }
      .page-banner__content-left {
        @include grid-span(8, 1);
        @include breakpoint($page-content-max-width-only) {
          margin-left: 30px;
          width: 60%;
        }
      }
      .page-banner__content-right {
        @include grid-span(4, 9);
      }
      .list-of-links--dark li > a {
        display: inline-block !important;
        position: absolute;
        bottom: 0;
        padding-right: 4em !important;
      }
    }
  }

  .page-banner__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page-banner__image-cover {
    width: 80%;
    height: 100%;
    @include linear-gradient-from-left(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  }
}

.page-banner__change-background-container {
  width: 100%;
  position: absolute;
  bottom: 1px;
  @include breakpoint($mobile-only) {
    z-index: 9;
    bottom: -$page-banner-toggle-size;
  }
}

.page-banner__change-background {
  width: $page-banner-toggle-size;
  height: $page-banner-toggle-size;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@mixin page-banner-button($color, $background-color) {
  width: $page-banner-toggle-size;
  height: $page-banner-toggle-size;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: $background-color;
  color: $color;
  text-align: center;
  z-index: 3;
  @include all-link-states {
    color: $color;
  }
  @include breakpoint($mobile-only) {
    float: right;
  }
  @include breakpoint($small) {
    margin-left: auto;
    margin-right: auto;
  }
}

.page-banner__button {
  @include page-banner-button($white, $blue);
}

.page-banner__button--light {
  @include page-banner-button($blue, $white);
}

@mixin page-banner-button-icon($icon, $size) {
  position: absolute;
  display: block;
  &:before {
    font-size: $size;
    @include hy-icon($icon);
  }
}

.page-banner__button-icon--arrow {
  @include page-banner-button-icon("\EA03", 18px);
  top: 14px;
}

.page-banner__button-icon--arrow-up {
  @extend .page-banner__button-icon--arrow;
  @include transform(rotate(270deg));
  left: 17px;
}

.page-banner__button-icon--arrow-down {
  @extend .page-banner__button-icon--arrow;
  @include transform(rotate(90deg));
  left: 14px;
}

.page-banner__button-icon--camera {
  @include page-banner-button-icon("\EA07", 24px);
  left: 13px;
  top: 14px;
}

.page-banner__change-background-menu {
  @extend .dropdown-menu;
  @include triangle-with-border(12px, 12px);
  @include font-size(13px);
  position: absolute;
  white-space: nowrap;
  padding: 1em;
  @include breakpoint($small) {
    top: $page-banner-toggle-size + 20px;
  }
  @include breakpoint($mobile-only) {
    top: $page-banner-toggle-size;
    right: 0;
    border: 1px solid $lightsilver !important;
  }
}

.page-banner-toggle--banner-hidden {
  @include border-top();
}