/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

$tour-popover-bg-color : rgba(0, 0, 0, 0.8);
$joyride-z-index: 999;

#ng-curtain {
  opacity: 0!important;
  z-index: $joyride-z-index - 1!important;
}

.popover.ng-joyride {
  & > .arrow, & > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  & > .arrow {
    border-width: 11px;
  }
  & > .arrow:after {
    content: "";
    border-width: 10px;
  }
  &.top > .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: $tour-popover-bg-color;
    border-bottom-width: 0;
  }
  &.right > .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: $tour-popover-bg-color;
    border-left-width: 0;
  }
  &.bottom > .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: $tour-popover-bg-color;
  }
  &.left > .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: $tour-popover-bg-color;
  }
}

.ng-joyride-title, .popover.ng-joyride {
  background-color: $tour-popover-bg-color !important;
  color: $white;
  z-index: $joyride-z-index!important;

  .popover-title {
    @include font-size(20px);
    padding: 1rem 3rem 1rem 1rem;
    background-color: transparent;
    color: $white;
  }
  .popover-text {
    @include font-size(13px);
    padding: 0 1rem 1rem 1rem;
  }

  .popover-content {
    padding: 0 !important;
  }

  .list-of-links--dark {
    padding: 1rem;
    > li a {
      cursor: pointer;
      display: inline-block;
      padding-left: 2em;
      padding-right: 5em;
      transition-duration: 0s;
    }
  }

  .skipBtn {
    border: 0;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    color: $gray;
    &:hover {
      color : $white;
    }
    &:before {
      font-family: "hy-icons";
      content : "\EA32";
    }
  }
}

.ng-joyride-title {
  @include breakpoint($mobile-only) {
    margin-right: 0!important;
    margin-left: 0!important;
    left: 0 !important;
    right: 0 !important;
    width: 100%!important;
  }
}

.popover.ng-joyride {
  position: absolute;
  z-index: $joyride-z-index;
  display: none;
  max-width: 300px;

  &.top {
    margin-top: -10px;
  }

  &.right {
    margin-left: 10px;
  }

  &.bottom {
    margin-top: 10px;
  }

  &.left {
    margin-left: -10px;
  }



}