/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

$user-component-height-mobile: 3em;

$user-component-bg-default: rgba(0, 0, 0, .5);
$user-component-height-default: 4em;

$grey-background: rgb(224, 224, 224);
$time-color: rgb(109, 109, 109);

.user-menu {
  position: relative;
  @include breakpoint($small) {
    display: table;
    float: right;
    height: 100%;
  }
  .search-bar {
    padding: 0;
  }

  .hy {
    font-size: 1.2em;
  }
}

@include breakpoint($small) {
  .user-menu__item.user-settings {
    padding-right: 0px;
  }
}

.user-menu__item {
  @include breakpoint($small) {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
  }
}

.user-settings__menu {
  @extend .dropdown-menu;
  @include triangle-with-border(12px, 12px);

  background-color: $white;

  a {
    color: $blue;
    &.tag {
      color: $white;
    }
  }

  .fa {
    margin-right: 1em;
  }

  .hy {
    position: relative;
    left: -3px;
    margin-right: 2px;
    vertical-align: middle;
  }

  li.change-avatar {
    position: relative;

    .camera-actions {
      margin-bottom: 20px;
    }

    .user-avatar__large {
      display: inline-block;
      margin-right: 1em;
      vertical-align: top;
    }

    .change-avatar__details {
      display: inline-block;
      width: 60%;
      vertical-align: top;

      h5 {
        font-size: 1.1em;
      }

      a {
        position: absolute;
        bottom: 1em;
      }
    }
  }

  @include breakpoint($small) {
    top: $user-component-height-default;
    width: 330px;
    min-width: 15em;
  }
}

.user-settings__menu-item {
  // Override the @extend .dropdown-menu so that we don't have to rewrite all of it.
  padding: 0 !important;
  margin: 0 1em;
  @include border-bottom;

  a {
    padding: 1em 0;
    display: block;
  }
}


.user-notifications {

  .user-avatar {
    width: 70px;
    height: 70px;
    float: left;
  }

  .content {
    padding: 0 10px 0 80px;
  }

  .icon {
    position: relative;
    cursor: pointer;
  }

  .user-settings__menu {
    right: 112px;
    color: $darkgray;
    @include triangle-with-border(12px, 34px);

    li {
      position: relative;
      height: 90px;
      margin: 0 1em;
      padding: 10px 0 0 0;
      overflow-x: hidden;
    }

    .course-name a {
      color: $blue;
      font-weight: bold;
      height: 18px;
      display: block;
    }

    .notification-time {
      position: absolute;
      bottom: 8px;
      text-transform: uppercase;
      font-size: 10px;
      color: $time-color;
    }

    .notification-message {
      height: 36px;
    }

    @include breakpoint($small) {
      background-color: $white;
      left: initial;
      width: 300px;

      ul {
        max-height: 270px;
        overflow-y: scroll;
      }
    }
  }

  .circled-number {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    width: 1.4em;
    height: 1.4em;
    background: $orange;
    color: $white;
    text-align: center;
    font-size: 0.6em;
    font-weight: bold;
    line-height: 1.4em;

    @include breakpoint($small) {
      top: -1px;
      left: 8px;
    }
  }
}

.user-menu__actions--action:hover {
  cursor: pointer;
}