<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
  -->

<div class="admin-feedback">
  <h3 translate="admin.feedback"></h3>

  <table class="table-simple feedback-table">
    <tr>
      <th translate="admin.feedbackProcessed"></th>
      <th translate="admin.feedback"></th>
      <th translate="admin.emailReply"></th>
      <th translate="admin.timestamp"></th>
      <th translate="admin.faculty"></th>
      <th translate="admin.state"></th>
      <th translate="admin.userAgent"></th>
      <th translate="admin.comment"></th>
    </tr>
    <tr ng-repeat="feedback in feedbackItems">
      <td>
        <div class="form-type-checkbox">
          <input id="{{ feedback.id }}" type="checkbox" ng-model="feedback.processed" ng-change="feedbackChanged(feedback)" />
          <label ng-if="!isLoading(feedback)" for="{{ feedback.id }}"></label>
          <div class="loading-spinner-container" ng-if="isLoading(feedback)">
            <span class="hy hy-spinner hy-spin"></span>
          </div>
        </div>
      </td>
      <td>{{ feedback.content }}</td>
      <td>{{ feedback.email }}</td>
      <td>{{ feedback.created }}</td>
      <td>{{ feedback.metadata | faculty }}</td>
      <td>{{ feedback.metadata | state }}</td>
      <td>{{ feedback.metadata | userAgent }}</td>
      <td class="feedback-table__comment-cell">
        <span ng-bind="feedback.comment"></span>
        <a class="feedback-edit-toggle button--action theme-transparent"
           tabindex="0"
           ng-click="toggleCommentEditMode(feedback, $index)"
           ng-show="!feedback.commentEditMode"
           translate="general.edit"></a>
        <div class="feedback-highlight-overlay" ng-show="feedback.commentEditMode"></div>
        <div class="feedback-comment-edit-controls" ng-show="feedback.commentEditMode">
          <textarea cols="10" rows="5" class="feedback-comment-edit-controls__comment-content" ng-model="feedback.stagedComment"></textarea>
          <div class="button-group--small">
            <a class="button" tabindex="0" ng-click="saveComment(feedback)">
              <span ng-show="!feedback.inflightUpdate" translate="general.save"></span>
              <span ng-show="feedback.inflightUpdate" class="hy hy-spinner hy-spin"></span>
            </a>
            <a class="button" tabindex="0" ng-click="toggleCommentEditMode(feedback)" translate="general.cancel"></a>
          </div>
        </div>
      </td>
    </tr>
  </table>

  <ul class="pager">
    <li class="pager__first" ng-click="selectPage(0)"><a tabindex="0" translate="admin.first"></a></li>
    <li class="pager__previous" ng-click="previousPage()"><a tabindex="0" translate="tour.common.previous"></a></li>

    <li class="pager__page" ng-repeat="index in pageIndexes" ng-class="pageClasses(index)"><a  tabindex="0" ng-click="selectPage(index)">{{ index + 1 }}</a></li>

    <li class="pager__next" ng-click="nextPage()"><a  tabindex="0" translate="tour.common.next"></a></li>
    <li class="pager__last" ng-click="selectPage(pageIndexes.length - 1)"><a  tabindex="0" translate="admin.last"></a></li>
    <li class="pager__page"><a  tabindex="0" href="/api/admin/v1/feedback/csv" translate="admin.downloadCsv"></a></li>
  </ul>
</div>
