/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

$feedback-comment-edit-controls-bg-color: $white;

.admin-feedback {
  .form-type-checkbox label {
    padding-left: 0;
  }

  .form-type-checkbox label:before {
    position: relative;
  }

  .loading-spinner-container {
    margin: 3px;
    color: $blue;
  }
}

.feedback-table {
  table-layout: fixed;

  td {
    word-wrap: break-word;
  }

  &__comment-cell {
    position: relative;
  }
}

.feedback-edit-toggle {
  padding-left: 0.2em;
  cursor: pointer;
}

.feedback-highlight-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
}

.feedback-comment-edit-controls {
  position: absolute;
  top: 0.2em;
  left: -100%;
  width: 200%;
  z-index: 2;
  background-color: $feedback-comment-edit-controls-bg-color;

  a {
    display: inline-block;
    min-width: 5em;
    text-align: center;
    color: $button-text-color !important;

    &:hover {
      background-color: $button-bg-hover-color;
      cursor: pointer;
    }
  }

  .button-group--small {
    margin-top: 0.2em;
  }

  .hy-spin {
    outline: 1px solid transparent;
    font-size: 12px;
  }
}
