/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.flexslider-container {

  .flex-direction-nav .flex-next {
    &::before {
      @include hy-icon("\EA03");
    }
  }

  .flex-direction-nav .flex-prev {
    &::before {
      @include hy-icon("\EA03");
      @include transform(rotate(180deg));
    }
  }
  
  &.controls-visible {
    .flex-direction-nav .flex-next {
      right: 10px !important;
      opacity: 1 !important;

      &::before {
        color: $white;
      }
    }

    .flex-direction-nav .flex-prev {
      left: 10px !important;
      opacity: 1 !important;
      &::before {
        color: $white;
      }
    }
  }
}

.show-mobile-only {
  .slides {
    li:not(.flex-active-slide) {
      display: none !important;
    }
  }
}
