/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

@mixin triangle-with-border($size, $offset-right, $color : $white, $border-color : $lightsilver) {
  &:after, &:before {
    bottom: 100%;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-bottom-color: $color;
    border-width: $size;
    right: $offset-right
  }

  &:before {
    border-bottom-color: $border-color;
    border-width: $size + 1;
    right: $offset-right - 1;
  }
}

@mixin ng-show-fade() {
  &.ng-hide-remove.ng-hide-remove-active {
    transition: all linear 0.4s;
  }

  &.ng-hide-add {
    opacity: 1;
  }

  &.ng-hide-add-active {
    opacity: 0;
  }

  &.ng-hide-remove {
    opacity: 0;
  }

  &.ng-hide-remove-active {
    opacity: 1;
  }
}

@mixin center-vertical() {
  top: 50%;
  transform: translate(0, -50%);
}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin input-placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin all-link-states {
  &:link, &:hover, &:active, &:visited {@content}
}
