<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="l-top-bar">
  <div class="l-top-bar__subregion">
    <div class="l-top-bar__main">
      <div id="block-hy-contact-hy-logo-block">
        <a localized-link="universityOfHelsinki" class="logo">
          <h1 class="logo__sitename" translate="general.helsinkiUniversity"></h1>
        </a>
      </div>
    </div>
    <div class="l-top-bar__sub" ng-if="!hideLinks">
      <div id="block-hy-links-hy-links-header-block" class="l-top-bar__subleft">
        <div class="links">
          <a ng-repeat="link in pageHeaderLinks"
             href="{{::link.href}}" target="_blank" class="links__link" translate="{{::link.key}}"></a>
         </div>
      </div>
      <div id="block-locale-language" role="complementary" class="l-top-bar__subright">
        <menu-language></menu-language>
      </div>
    </div>
  </div>
</div>
