<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="l-page island wrapper" ng-show="showResults">
  <div class="search-results__wrapper">
    <div class="search-results__header">
      <h1>{{ 'searchResults.hitsFound' | translate : {hitCount: results.length} }}</h1>

      <a tabindex="0" ng-click="close()" class="search-results__close" translate="searchResults.close"></a>

      <div class="button-group">
        <div ng-repeat="category in categories()" class="button-group__button">
          <a class="button--small" ng-click="selectCategory(category)" ng-class="categoryClasses(category)">
            {{'toolbar.search.categories.' + category | translate }} ({{ resultsBySource[category].length }})
          </a>
        </div>
      </div>
    </div>

    <article ng-repeat="result in results" class="box-story box-story--constrained">
      <h4 class="box-story__title">
        <a href="{{ result.link }}" target="_blank">{{ result.title }}</a>
      </h4>
      <div class="box-story__meta">
        <span class="box-story__date">{{ result.date }}</span>
        <span class="box-story__tag"><a href="{{ result.link }}" target="_blank">{{ result.link }}</a></span>
      </div>
      <div class="box-story__content">{{ result.text | limitTo: 500}}</div>
    </article>

  </div>
</div>
