<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="box-data">
  <div class="box-data__date hide-mobile-only">
    <span class="date-day" style="text-transform: uppercase">{{ feedItem.startDate | momentFormat:'ddd' }}</span>
  </div>

  <div class="box-data__content">
    {{ ::feedItem.startDate | eventTimeSpan:feedItem.endDate}}
  </div>

  <div class="box-data__title">
    <a href="{{feedItem.courseUri}}" ng-if="feedItem.courseUri">
      <event-title></event-title>
    </a>
    <event-title ng-if="!feedItem.courseUri"></event-title>
  </div>

  <div class="box-data__content">
    <div ng-repeat="location in feedItem.locations" class="event-location">
      <span class="event-location__name">{{ ::location.locationString }}</span>
      <span class="event-location__links">
        <a ng-if="location.googleMapsUri" href="{{location.googleMapsUri}}"
           target="_blank" translate="weekFeed.showOnMap"></a>
        <a ng-if="location.reittiopasEnabled" ng-click="openReittiopas(feedItem.startDate, location)" tabindex="0">
          {{::('weekFeed.showRoute' | translate)}}
          <span ng-show="location.loadingLocation">
            <i class="hy hy-spinner hy-spin"></i>
          </span>
        </a>
      </span>
    </div>
  </div>
</div>
