<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<section class="ui-component contact-information">
  <div class="edit-link-wrapper">
    <div class="contact-information__title" translate="contactInformation.title"></div>
    <edit-link on-edit="edit()" on-exit-edit="exitEdit()"></edit-link>
  </div>

  <div ng-show="!editing">
    <div class="block">
      <div class="contact-details">
        <div class="name">{{ portfolio.ownerName }}</div>
        <div ng-show="contactInformation.phoneNumber"
             class="phone-number">
          {{::('contactInformation.phoneNumber' | translate)}} {{ contactInformation.phoneNumber }}
        </div>
        <div ng-show="contactInformation.email"
             class="email">
          <a href="mailto:{{ contactInformation.email }}">{{ contactInformation.email }}</a>
        </div>
      </div>
    </div>
    <ul role="list">
      <li ng-repeat="someLink in contactInformation.someLinks | orderBy: 'type'"
          role="listitem"
          class="block link">
        <a href="{{ someLink.url }}" tabindex="0" target="_blank">{{ 'contactInformation.' + someLink.type | translate }}
          <i class="fa fa-{{ someLink.type | lowercase }} some-link-icon"></i>
        </a>
      </li>
    </ul>
  </div>

  <div ng-show="editing" class="editing">
    <form name="editContactInformation">
      <div class="block">
        <div class="contact-details">
          <div class="name">{{ portfolio.ownerName }}</div>
        </div>
        <div class="edit-contact-details">
          <input ng-model="contactInformation.phoneNumber"
                 placeholder="{{::('contactInformation.addPhoneNumber' | translate)}}">
          <input ng-model="contactInformation.email"
                 placeholder="{{::('contactInformation.addEmail' | translate)}}">
        </div>
      </div>
      <ul role="list"
          class="list-of-links theme-dark">
        <li ng-repeat="someLink in contactInformation.someLinks | orderBy: 'type'"
            class="useful-links__link block"
            role="listitem">
          <a tabindex="0" class="list-of-links__link edit editable" ng-hide="someLink.edit" on-enter-or-click="editSomeLink(someLink)">
            <i class="fa fa-bars hide-mobile-only"></i>
            {{ someLink.url }}
            <i class="fa fa-pencil"></i>
            <i class="fa fa-{{ someLink.type | lowercase }} some-link-edit-icon"></i>
          </a>

          <div class="useful-links__edit-link-url" ng-show="someLink.edit">
            <input focus="someLink.edit" ng-model="someLink.url" ui-keypress="{'enter':'exitSomeLinkEdit(someLink)'}">
            <a tabindex="0" on-enter-or-click="exitSomeLinkEdit(someLink)"><i class="fa fa-check"></i></a>
          </div>
        </li>
      </ul>
    </form>
  </div>

  <visibility-toggle component-id="CONTACT_INFORMATION"></visibility-toggle>
</section>
