<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<section class="ui-component contact-information">
  <div class="edit-link-wrapper">
    <div class="contact-information__title" translate="contactInformation.title"></div>
    <edit-link on-edit="edit()" on-exit-edit="exitEdit()"></edit-link>
  </div>

  <div ng-show="!editing">
    <div class="block">
      <div class="contact-details">
        <div class="contact-details__name">{{::ownerName}}</div>
        <div limit-visibility="{roles: ['STUDENT']}">
          <div class="contact-details__field" ng-show="contactInformation.phoneNumber">
            {{::('contactInformation.phoneNumber' | translate)}} {{ contactInformation.phoneNumber }}
          </div>
          <div class="contact-details__field" ng-show="contactInformation.email">
            <a href="mailto:{{ contactInformation.email }}">{{ contactInformation.email }}</a>
          </div>
        </div>
        <div limit-visibility="{roles: ['TEACHER']}">
          <div class="contact-details__field" ng-show="contactInformation.title">
            {{ contactInformation.title }}
          </div>
          <div class="contact-details__field" ng-show="contactInformation.faculty">
            {{ contactInformation.faculty }}
          </div>
          <div class="contact-details__field" ng-show="contactInformation.financialUnit">
            {{ contactInformation.financialUnit }}
          </div>
          <div class="contact-details__field" ng-show="contactInformation.workAddress">
            {{ contactInformation.workAddress }}
            <span ng-show="contactInformation.workPostcode">, {{ contactInformation.workPostcode }}</span>
          </div>
          <div class="contact-details__field" ng-show="contactInformation.email">
            <a href="mailto:{{ contactInformation.email }}">{{ contactInformation.email }}</a>
          </div>
          <div class="contact-details__field" ng-show="contactInformation.workMobile">
            {{::('contactInformation.phoneNumber' | translate)}} {{ contactInformation.workMobile }}
          </div>

        </div>
      </div>
    </div>
    <ul role="list">
      <li ng-repeat="someLink in contactInformation.someLinks | orderBy: 'type'" role="listitem">
        <a href="{{ someLink.url }}" tabindex="0" target="_blank" aria-label="{{ 'contactInformation.' + someLink.type | translate }}"
           class="button--action social-media-link__icon--{{ someLink.type | lowercase }} contact-information__social-media-link">
          {{ 'contactInformation.' + someLink.type | translate }}
        </a>
      </li>
    </ul>
  </div>

  <div ng-show="editing" class="editing">
    <form name="editContactInformation">
      <div class="block">
        <div class="contact-details">
          <div class="name">{{ portfolio.ownerName }}</div>
        </div>
        <div class="edit-contact-details">
          <div limit-visibility="{roles: ['STUDENT']}">
            <input ng-model="contactInformation.phoneNumber"
                   placeholder="{{::('contactInformation.addPhoneNumber' | translate)}}">
            <input ng-model="contactInformation.email"
                   placeholder="{{::('contactInformation.addEmail' | translate)}}">
          </div>
          <div limit-visibility="{roles: ['TEACHER']}">
            <input ng-model="contactInformation.title"
                   placeholder="{{::('contactInformation.addTitle' | translate)}}">
            <input ng-model="contactInformation.faculty"
                   placeholder="{{::('contactInformation.addFaculty' | translate)}}">
            <input ng-model="contactInformation.financialUnit"
                   placeholder="{{::('contactInformation.addFinancialUnit' | translate)}}">
            <input ng-model="contactInformation.workAddress"
                   placeholder="{{::('contactInformation.addWorkAddress' | translate)}}">
            <input ng-model="contactInformation.workPostcode"
                   placeholder="{{::('contactInformation.addWorkPostcode' | translate)}}">
            <input ng-model="contactInformation.email"
                   placeholder="{{::('contactInformation.addEmail' | translate)}}">
            <input ng-model="contactInformation.workMobile"
                   placeholder="{{::('contactInformation.addWorkMobile' | translate)}}">
            <a
              role="button"
              href=""
              ng-click="reloadEmployeeContactInformation()"
              translate="contactInformation.reload">
            </a>
          </div>

        </div>
      </div>
      <ul role="list"
          class="contact-information__edit-links-list">
        <li ng-repeat="someLink in contactInformation.someLinks | orderBy: 'type'"
            class="block"
            role="listitem">
          <a role="button" href="" class="list-of-links__link edit editable"
             ng-hide="someLink.edit" ng-click="editSomeLink(someLink)">
            {{ someLink.url }}
            <i class="icon--edit-event"></i>
            <i class="social-media-link-icon social-media-link-icon--edit social-media-link-icon--{{ someLink.type | lowercase }}"></i>
          </a>

          <div class="useful-links__edit-link-url" ng-show="someLink.edit">
            <input focus="someLink.edit" ng-model="someLink.url"
                   ui-keypress="{'enter':'exitSomeLinkEdit(someLink)'}" />
            <a role="button" href="" ng-click="exitSomeLinkEdit(someLink)"><i class="icon--done"></i></a>
          </div>
        </li>
      </ul>
    </form>
  </div>

  <visibility-toggle component-id="CONTACT_INFORMATION"></visibility-toggle>
</section>
