<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="ui-component">
  <div class="component-header">
    <editable-heading component-id="ATTAINMENTS"
                      default-text="attainments.attainments"
                      profile-lang="{{::profileLang}}"
                      help-key="attainments.helpText"
                      editing="editing"></editable-heading>
    <div ng-if="editing" class="study-attainments__grades-visibility-toggle-container">
      <toggle-switch ng-model="showGrades"/><span translate="attainments.showGrades"></span>
    </div>
    <div class="component-header__actions">
      <visibility-toggle component-id="ATTAINMENTS"></visibility-toggle>
      <enable-edit edit="edit()" editing="editing"></enable-edit>
    </div>
  </div>
  <ul ng-if="editing" class="study-attainments">
    <li class="study-attainment" ng-repeat="attainment in allAttainments">
      <div class="study-attainment__item">

        <button class="study-attainment__visibility" ng-click="toggleVisibility(attainment)">
          <i ng-if="isVisible(attainment)" class="icon--preview"></i>
          <i ng-if="!isVisible(attainment)" class="icon--eye-slash"></i>
        </button>

        <div class="study-attainment__left">
          <span class="study-attainment__grade--{{:: gradeClass(attainment.grade) }}">
            {{:: formatGrade(attainment.grade) }}
          </span>
        </div>

        <div class="study-attainment__container">
          <div class="study-attainment__date">
            {{:: attainment.attainmentDate | momentFormat:'DD.MM.YYYY' }}
          </div>

          <div class="study-attainment__title">
            <a ng-if="attainment.courseUri" href="{{::attainment.courseUri}}">
              {{:: attainment.learningOpportunityName }}
            </a>
            <span ng-if="!attainment.courseUri">{{:: attainment.learningOpportunityName }}</span>
            <span ng-if="attainment.credits">, {{:: attainment.credits }} op</span>
          </div>

          <div class="study-attainment__teachers">
            <span translate translate-language="{{::profileLang}}" class="text-transform-capitalize">
              general.teachers
            </span>:
            <span ng-repeat="teacher in attainment.teachers">{{:: teacher.shortName }}{{:: $last ? '' : ', ' }}</span>
          </div>
        </div>

      </div>
    </li>
  </ul>

  <ul ng-if="!editing">
    <li class="study-attainment" ng-repeat="attainment in attainments | limitTo:numberOfVisibleAttainments">
      <div class="study-attainment__item">

        <div ng-if="attainment.grade" class="study-attainment__left">
          <span class="study-attainment__grade--{{:: gradeClass(attainment.grade) }}">
            {{:: formatGrade(attainment.grade) }}
          </span>
        </div>

        <div class="study-attainment__container">
          <div class="study-attainment__date">
            {{:: attainment.attainmentDate | momentFormat:'DD.MM.YYYY' }}
          </div>

          <div class="study-attainment__title">
            <a ng-if="attainment.courseUri" href="{{::attainment.courseUri}}">
              {{:: attainment.learningOpportunityName }}
            </a>
            <span ng-if="!attainment.courseUri">{{:: attainment.learningOpportunityName }}</span>
            <span ng-if="attainment.credits">, {{:: attainment.credits }} op</span>
          </div>

          <div class="study-attainment__teachers">
            <span translate translate-language="{{::profileLang}}" class="text-transform-capitalize">
              general.teachers
            </span>:
            <span ng-repeat="teacher in attainment.teachers">{{:: teacher.shortName }}{{:: $last ? '' : ', ' }}</span>
          </div>
        </div>

      </div>
    </li>
  </ul>

  <div ng-show="showMoreVisible()">
    <button class="button button--light" ng-click="showMoreClick()" translate="buttons.showMore"></button>
  </div>


  <div class="edit-buttons" ng-show="editing">
    <button
      class="button"
      ng-click="cancelEdit()"
      translate="general.cancel"></button>
    <button
      class="button"
      ng-click="exitEdit()"
      translate="general.save"></button>
  </div>
</div>
