<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="degrees__dropzone">
  <ul ng-model="degrees" role="list" class="degrees" as-sortable="sortableOptions">
    <li class="degree editable" ng-repeat="degree in degrees" as-sortable-item>
      <div class="degree__item editable">
        <div class="degree__drag-handle" as-sortable-item-handle ng-show="degrees && degrees.length > 1"></div>
        <div class="degree__lyre--edit"></div>

        <div class="degree__container">
          <div class="degree__date">
            <label for="degree_date_{{ $index }}" translate="degrees.dateLabel" />
            <input type="text"
                   id="degree_date_{{ $index }}"
                   placeholder="{{ ::('degrees.datePlaceholder' | translate) }}"
                   ng-model="degree.dateOfDegree"
                   ng-change="refreshValidity()"
                   ng-class="{'ng-invalid':!degree.dateOfDegree}" />
          </div>

          <div class="degree__title">
            <label for="degree_title_{{ $index }}" translate="degrees.titleLabel" />
            <input type="text"
                   id="degree_title_{{ $index }}"
                   placeholder="{{ ::('degrees.titlePlaceholder' | translate) }}"
                   ng-model="degree.title"
                   ng-change="refreshValidity()"
                   ng-class="{'ng-invalid':!degree.title}" />
          </div>

          <div class="degree__institution">
            <label for="degree_institution_{{ $index }}" translate="degrees.institutionLabel" />
            <input type="text"
                   id="degree_institution_{{ $index }}"
                   placeholder="{{ ::('degrees.institutionPlaceholder' | translate) }}"
                   ng-model="degree.institution" />
          </div>

          <div class="degree__description">
            <label for="degree_description_{{ $index }}" translate="degrees.descriptionLabel" />
            <textarea id="degree_description_{{ $index }}"
                      placeholder="{{ ::('degrees.descriptionPlaceholder' | translate) }}"
                      ng-model="degree.description">
            </textarea>
          </div>

        </div>
        <item-visibility-toggle item="degree"></item-visibility-toggle>
        <button class="button--link degree__remove" ng-click="removeDegree(degree)">
          <i class="icon--trash"></i>
        </button>
      </div>
    </li>
  </ul>
</div>

<div class="add-new-content">
  <div class="list-of-links">
    <button class="button--action icon--plus" ng-click="addDegree(newDegree)">
      {{::('degrees.addNewPlaceholder' | translate)}}
    </button>
  </div>
</div>
