<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
  -->

<ul role="list" class="degrees">
  <li class="degree" ng-repeat="degree in degrees" limit-item-visibility="degree">
    <div class="degree__item">
      <div class="degree__lyre"></div>

      <div class="degree__container">
        <div class="degree__date">
          {{ degree.dateOfDegree }}
        </div>

        <div class="degree__title">
          {{ degree.title }}
        </div>

        <div class="degree__institution">
          {{ degree.institution }}
        </div>

        <div class="degree_description">
          {{ degree.description }}
        </div>
      </div>

      <span class="degree--private" ng-if="degree.visibility === 'PRIVATE'">
        <i class="icon--eye-slash"></i>
      </span>
    </div>
  </li>
</ul>
