<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="work-experience__dropzone disableSelect">
  <ng-form name="workExperienceForm">
  <ul class="banner-content"
      ng-model="workExperience"
      as-sortable="sortableOptions"
      is-disabled="!workExperience || workExperience.length < 2">
    <li ng-repeat="workExperienceItem in workExperience track by workExperienceItem.id"
        class="editable" as-sortable-item>
      <div class="work-experience work-experience__outer_container">
        <div class="banner-content__drag-handle"
             as-sortable-item-handle
             ng-show="workExperience && workExperience.length > 1"></div>
        <div class="banner-content__item">
          <div class="work-experience__editor-content">
            <div>
              <label translate="workExperience.dateOfEmployment"></label>
              <div>
                <input type="text"
                       ng-required="true"
                       class="work-experience__date-input work-experience__input"
                       date-input="MM/YYYY" ng-model="workExperienceItem.startDate"
                       ng-class="{'ng-invalid':!workExperienceItem.startDate || !workExperienceItem.startDate.isValid()}"
                       placeholder="{{:: ('workExperience.startDatePlaceholder' | translate) }}" />
                &ndash;
                <input type="text"
                       class="work-experience__date-input work-experience__input"
                       date-input="MM/YYYY" ng-model="workExperienceItem.endDate"
                       placeholder="{{:: ('workExperience.endDatePlaceholder' | translate) }}" />
              </div>
            </div>
            <div>
              <label for="job-title-{{workExperienceItem.id}}" translate="workExperience.jobTitle"></label>
              <input
                id="job-title-{{workExperienceItem.id}}"
                type="text"
                ng-required="true"
                class="work-experience__input"
                ng-model="workExperienceItem.jobTitle"
                ng-class="{'ng-invalid':!workExperienceItem.jobTitle}"
                placeholder="{{::'workExperience.jobTitle' | translate}}">
            </div>
            <div>
              <label for="employer-{{workExperienceItem.id}}" translate="workExperience.employer"></label>
              <input
                id="employer-{{workExperienceItem.id}}"
                type="text"
                ng-required="true"
                class="work-experience__input"
                ng-model="workExperienceItem.employer"
                ng-class="{'ng-invalid':!workExperienceItem.employer}"
                placeholder="{{::'workExperience.employer' | translate }}">
            </div>
            <div>
              <label for="work-description-{{workExperienceItem.id}}" translate="workExperience.text"></label>
              <textarea
                id="work-description-{{workExperienceItem.id}}"
                placeholder="{{::'workExperience.text' | translate}}"
                ng-model="workExperienceItem.text"></textarea>
            </div>
            <div>
              <label for="work-experience-url-{{workExperienceItem.id}}" translate="workExperience.employerUrl"></label>
              <input
                id="work-experience-url-{{workExperienceItem.id}}"
                type="text"
                class="work-experience__input"
                ng-model="workExperienceItem.employerUrl"
                placeholder="{{::'workExperience.employerUrl' | translate}}">
            </div>
          </div>
          <item-visibility-toggle item="workExperienceItem"></item-visibility-toggle>
          <button class="banner-content__remove" ng-click="removeWorkExperience(workExperienceItem)"></button>
        </div>
      </div>
    </li>

    <li ng-show="jobSearch" class="editable">
      <div class="work-experience work-experience__outer_container">
        <div class="banner-content__item job-search">
          <div class="banner-content__banner">
            <div class="banner-content__backdrop">
              <div class="banner-content__banner-content">
                <div class="banner-content__banner-title" translate="workExperience.jobSearch" />
                <div class="banner-content__banner-text">
                  {{jobSearch.contactEmail}}
                </div>
                <button class="banner-content__remove" ng-click="removeJobSearch()"></button>
              </div>
            </div>
          </div>
          <div class="work-experience__editor-content">
            <label for="job-search-headline">{{::'workExperience.jobSearchHeadline' | translate | capitalize}}</label>
            <input id="job-search-headline"
                   type="text"
                   ng-model="jobSearch.headline"
                   placeholder="{{::'workExperience.jobSearchHeadline' | translate | capitalize}}"/>
            <label for="job-search-description">{{::'workExperience.jobSearchDescription' | translate | capitalize}}</label>
            <textarea id="job-search-description"
                      placeholder="{{::'workExperience.jobSearchDescription' | translate | capitalize}}"
                      ng-model="jobSearch.text">
            </textarea>
            <label for="job-search-contact-email">{{::'workExperience.contactEmail' | translate | capitalize }}</label>
            <input id="job-search-contact-email"
                   type="email"
                   ng-required="jobSearch"
                   ng-model="jobSearch.contactEmail"
                   placeholder="{{::'workExperience.contactEmail' | translate | capitalize}}" />
          </div>
        </div>
      </div>
    </li>
  </ul>
  </ng-form>
</div>
<div class="add-new-content">
  <div class="list-of-links">
    <a role="button" href="" class="button--action icon--plus" ng-click="addWorkExperience(newJob)">
      {{::('workExperience.addWorkExperience' | translate)}}
    </a>
    <a role="button" href="" class="button--action icon--plus" ng-click="addJobSearch(newJobSearch)" ng-hide="jobSearch">
      {{::('workExperience.addJobSearch' | translate)}}
    </a>
  </div>
</div>
