<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
  -->

<ul class="banner-content">
  <li ng-repeat="workExperienceItem in workExperience track by workExperienceItem.id">
    <div class="banner-content__item work-experience work-experience__outer_container">
      <div class="banner-content__details-container">
        <div class="work-experience__title">
          <div>
            {{workExperienceItem.startDate | momentFormat:'M/YYYY'}} &ndash;
            {{workExperienceItem.endDate | momentFormat:'M/YYYY'}}
          </div>
          <div class="work-experience__job-title">
            {{workExperienceItem.jobTitle}}
          </div>
          <div class="work-experience__employer">
            {{workExperienceItem.employer}}
          </div>
        </div>
        <div class="banner-content__show-full-description">
          <div class="banner-content__full-description">
            <p>{{workExperienceItem.text}}</p>
          </div>
        </div>
        <div class="banner-content__details-row">
          <a href="{{workExperienceItem.employerUrl !== '' ? formatUrl(workExperienceItem.employerUrl) : ''}}">
          {{workExperienceItem.employerUrl}}</a>
        </div>
      </div>
    </div>
  </li>

  <li ng-show="jobSearch">
    <div class="banner-content__item job-search">
      <div class="banner-content__banner">
        <div class="banner-content__backdrop">
          <div class="banner-content__banner-content">
            <div class="banner-content__banner-title" translate="workExperience.jobSearch" />
            <div class="banner-content__banner-text">
              {{jobSearch.contactEmail}}
            </div>
          </div>
        </div>
      </div>
      <div class="banner-content__details-container">
        <div class="work-experience__title">
          {{jobSearch.headline}}
        </div>
        <div ng-class="{'banner-content__show-full-description': jobSearch.showFull}">
          <div class="banner-content__description">
            <p ng-bind="jobSearch.text" data-ellipsis
               data-ellipsis-append="{{::' '+('general.showMore'|translate)}}"
               data-ellipsis-append-click="showFull(jobSearch)"></p>
          </div>
          <div class="banner-content__full-description">
            <p>{{jobSearch.text}}
              <a role="button" href="" aria-label="{{::'general.showLess'|translate}}"
                 ng-click="hideFull(jobSearch)">{{::'general.showLess'|translate}}</a>
            </p>
          </div>
        </div>
        <div class="banner-content__details-row">
          <a href="mailto:{{jobSearch.contactEmail}}">{{jobSearch.contactEmail}}</a>
        </div>
      </div>
    </div>
  </li>
</ul>
