<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="link-list">
  <div>
    <h3 class="course-recommendations__title text-transform-capitalize-block" translate="courseRecommendations.studies.title"></h3>
    <help-icon translation-key="courseRecommendations.studies.disclaimerText"
               aria-label-translation-key="courseRecommendations.disclaimer"></help-icon>
  </div>
  <div block-ui="recommendations" class="content-loader">
    <ul class="list-of-links course-recommendations__list">
      <li ng-repeat="recommendation in courseRecommendations | limitTo: limit as results track by $index">
        <a href="{{::recommendation.link}}" ng-click="trackRecommendationLinkClick(recommendation.title)"
           class="list-of-links__link button--action icon--arrow-right theme-transparent-alt">
          {{::recommendation.title}}
        </a>
      </li>
    </ul>
    <button tabindex="0" ng-hide="results.length >= courseRecommendations.length" ng-click="showMore()"
       translate="courseRecommendations.showMore"
       class="button--light button course-recommendations__show-more-less text-transform-capitalize"/>
    <button tabindex="0" ng-show="results.length >= courseRecommendations.length" ng-click="showLess()"
       translate="courseRecommendations.showLess"
       class="button--light button course-recommendations__show-more-less text-transform-capitalize"/>
  </div>
</div>
