<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="mobile-menu" dropdown>
  <a class="dropdown-toggle" tabindex="0">
    <i class="icon--hamburger in-menu-icon" ng-hide="showToolbar"></i>
  </a>

  <div class="dropdown-content" role="navigation">

    <ul class="mobile-menu__links mobile-menu__links--dark">
      <li ng-repeat="link in pageHeaderLinks">
        <a href="{{link.href}}" target="_blank">{{::(link.key | translate | capitalize)}}</a>
      </li>
    </ul>

    <ul class="mobile-menu__links mobile-menu__links--light mobile-menu__actions">
      <li>
        <a tabindex="0"
           ui-sref="init"
           class="active">
          <span class="icon--home in-menu-icon"></span>
          {{::('general.frontpage' | translate | capitalize)}}
        </a>
      </li>
      <li ng-repeat="link in primaryLinks">
        <a href="{{ ::link.href[selectedLanguage] }}" ng-if="!link.hasSub"
           analytics-event="{
               eventCategory: 'EXTERNAL_LINK',
               eventAction: 'CLICK',
               value: link.href[selectedLanguage]}">
          <span translate="{{::link.key}}"></span>
        </a>

        <a href="{{ ::link.href[selectedLanguage] }}" ng-if="link.hasSub">
          <span translate="{{::link.key}}"></span>
        </a>
        <ul ng-if="link.hasSub" class="mobile-menu__links mobile-menu__links--light mobile-menu__actions">
          <li ng-repeat="sublink in link.subMenu">
            <a href="{{ ::sublink.href[selectedLanguage] }}"
               analytics-event="{
               eventCategory: 'EXTERNAL_LINK',
               eventAction: 'CLICK',
               value: sublink.href[selectedLanguage]}">
              <span translate="{{::sublink.key}}"></span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <start-tour start-tour-text="{{::('general.introduction' | translate)}}"></start-tour>
      </li>
    </ul>
  </div>
</div>
