<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="useful-links" id="useful-links">
  <div class="edit-link-wrapper">
    <h3 class="ui-component__title" translate="usefulLinks.title"></h3>
    <edit-link on-edit="edit()" on-exit-edit="exitEdit()"></edit-link>
  </div>

  <div limit-visibility="['MY_STUDIES_ONLY']" class="useful-links__fixed">
    <h4><a href="{{getStudentServicesLinks()}}" target="_blank" translate="usefulLinks.studentServices"></a></h4>
  </div>

  <ul role="list"
      class="list-of-links--dark"
      dnd-list="usefulLinks"
      dnd-allowed-types="['usefulLink']">
    <li ng-repeat="link in usefulLinks"
        role="listitem"
        dnd-draggable="link"
        dnd-type="'usefulLink'"
        dnd-moved="updateOrder($index)"
        dnd-effect-allowed="move">
      <a ng-hide="editMode" href="{{link.url}}" target="_blank">{{ link.description | renderUsefulLinkDescription:link.type }}</a>
      <editable-useful-link ng-show="editMode"
                            useful-link="link"
                            editable="link.type === UsefulLinkType.USER_DEFINED">
      </editable-useful-link>
      <span ng-show="editMode && !link.edit" class="useful-links__delete-link" ng-click="deleteLink(link)" role="button">
        <i class="hy hy-remove"></i>
      </span>
    </li>
  </ul>

  <div ng-show="editMode && !editLink" class="new-useful-link-container">
    <div class="new-useful-link">
      <form name="newLinkUrlForm">
        <input ng-model="newLink.url"
               type="text"
               ng-change="searchPageTitle(newLink.url)"
               placeholder="{{::('usefulLinks.addNewLink' | translate | capitalize)}}"
               ui-keypress="{'enter':'addNewUsefulLink()'}">
      </form>
      <span ng-show="pageTitleSearchState === SearchState.SEARCHING">
        <i class="hy hy-spinner hy-spin"></i>
      </span>
      <a ng-show="newLink.url" tabindex="0" ng-click="clearSearch()">
        <i class="hy hy-close"></i>
      </a>
      <a class="new-useful-link__add-button" tabindex="0" ng-click="addNewUsefulLink()">
        <i class="hy hy-plus"></i>
      </a>
    </div>
    <useful-link-title ng-show="pageTitleSearchState === SearchState.SHOW_RESULTS"
                       model="newLink.description"
                       enter-fn="addNewUsefulLink">
    </useful-link-title>
  </div>

  <div class="useful-links__fixed">
    <h4 ng-if="userLang ==='fi'"><a href="http://www.helsinki.fi/helpdesk" target="_blank">Helpdesk</a></h4>
    <h4 ng-if="userLang ==='sv'"><a href="http://www.helsinki.fi/helpdesk/sve/" target="_blank">Helpdesk</a></h4>
    <h4 ng-if="userLang ==='en'"><a href="http://www.helsinki.fi/helpdesk/eng/" target="_blank">Helpdesk</a></h4>
    <p>helpdesk@helsinki.fi</p>
  </div>
</div>
