<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="course-material"
     ng-class="{'course-material--full': !compact, 'course-material--compact': compact}"
     ng-show="feedItem.courseMaterial"
     ng-switch="feedItem.courseMaterial.courseMaterialType">
  <a target="_blank" ng-switch-when="MOODLE" href="{{::feedItem.courseMaterial.courseMaterialUri}}">
    <span ng-if="!compact">
      {{::('weekFeed.courseMaterialsMoodle' | translate)}}
      <i class="hy hy-link-arrow"></i>
    </span>
    <span ng-if="compact">
      {{::('weekFeed.courseMaterialsMoodleShort' | translate)}}
    </span>
  </a>
  <a ng-switch-when="COURSE_PAGE" href="{{::feedItem.courseMaterial.courseMaterialUri}}">
    <span ng-if="!compact">
      {{::('weekFeed.courseMaterials' | translate)}}
      <i class="hy hy-link-arrow"></i>
    </span>
    <span ng-if="compact">
      {{::('weekFeed.courseMaterialsShort' | translate)}}
    </span>
  </a>
</div>
