<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<article class="enrollment">
  <div>
    <div class="image-container" style="background-image: url('{{feedItem.imageUri}}')"></div>

    <div class="info-container">
      <div class="box-data__content">
        {{ feedItem.startDate | eventDateSpan:feedItem.endDate }}
      </div>

      <div class="box-data__title">
        <a ng-if="feedItem.coursePageUri !== null" href="{{ feedItem.coursePageUri }}"
          analytics-event="{
              eventCategory: 'WEEK_FEED',
              eventAction: 'CLICK',
              value: feedItem.coursePageUri}">
          {{ feedItem.name }}
        </a>
        <span ng-if="feedItem.coursePageUri === null">{{ feedItem.name }}</span>
        <span ng-if="feedItem.isCancelled" class="enrollment-tag--cancelled" translate="weekFeed.cancelled"></span>
        <span ng-if="isOfficial(feedItem)" class="enrollment-tag--official" translate="weekFeed.official"></span>
        <p ng-if="feedItem.isHidden" translate="weekFeed.unpublished"></p>
      </div>

      <div class="course-info">
        <span class="course-info__basics">{{::courseInfo}}</span>
        <course-materials-link compact="feedItem.showAsChild" feed-item="feedItem"></course-materials-link>
      </div>
    </div>
  </div>
</article>
