<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
  -->

<section class="favorites-list__item unisport">

  <div class="unisport-header">
    <img src="/assets/images/favorites/unisport.png" />
  </div>
  
  <div ng-if="authorizationUrl" class="authorization">
    <span class="hy hy-info-stroke" title=""></span>
    <span translate="favorites.unisport.authorizationRequired"></span>
    <a href="{{ authorizationUrl }}" translate="favorites.unisport.authorizationButton" class="button"></a>
  </div>

  <ul class="events">
    <li ng-repeat="event in events">
      <div class="event-name">
        {{ event.name }}
      </div>
      <div class="info-row">
        <div class="heading" translate="general.time"></div>
        <div class="content">{{ event.timeRange }}</div>
      </div>
      <div class="info-row">
        <div class="heading"  translate="general.location"></div>
        <div class="content">{{ event.venue }}</div>
      </div>
    </li>
  </ul>

</section>