<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="free-text-content--edit">
  <div class="free-text-content__title-container">
    <h2 class="free-text-content__title ui-component__title is-editable"
        ng-if="!headingKey && !editingTitle">
      <a role="button" href="" ng-click="editTitle()">
        {{freeTextContentItem.title}}
      </a>
    </h2>

    <h2 class="free-text-content__title ui-component__title"
        ng-if="headingKey && !editingTitle"
        translate translate-language="{{::portfolioLang}}">
      {{::headingKey}}
    </h2>

    <input class="free-text-content__title--edit"
           ng-if="editingTitle"
           type="text"
           ng-model="freeTextContentItem.title"
           ui-keypress="{'enter':'onOk()'}">

    <button ng-if="deletable && !editingTitle"
            ng-click="onRemove()"
            class="free-text-content__remove">
    </button>
  </div>

  <textarea class="free-text-content__text--edit" ng-model="freeTextContentItem.text"></textarea>
</div>
