<div class="edit-free-text-content">
    <div class="free-text-content__title-container">
        <h3 class="free-text-content__title" ng-if="!editingTitle" ng-click="editTitle()">
            {{freeTextContent.title}}
        </h3>

        <input class="edit-free-text-content__edit-title"
               ng-if="editingTitle"
               type="text"
               ng-model="freeTextContent.title"
               ng-enter="onOk()">
        <button ng-if="!editingTitle" ng-click="onRemove()" class="favorites-list__remove"></button>
    </div>

    <textarea class="edit-free-text-content__edit-text" ng-model="freeTextContent.text"></textarea>
</div>
