<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="free-text-content ui-component">
  <div class="component-header">
    <h2 ng-if="!isEditing" class="ui-component__title border-bottom">
      <span ng-if="!isTranslatableHeading()">
        {{::freeTextContentItem.title}}
      </span>

      <span ng-if="isTranslatableHeading()" translate translate-language="{{::portfolioLang}}">
        {{::headingKey}}
      </span>

    </h2>

    <div class="free-text-content__title-container--edit" ng-if="isEditing">
      <input class="free-text-content__title--edit" type="text" ng-model="freeTextContentItem.title">
    </div>

    <div class="component-header__actions">
      <a ng-if="deletable && !isEditing && !isPreview"
         role="button"
         href=""
         ng-click="confirmDelete()"
         title="delete">
        <i class="icon--trash"></i>
      </a>

      <visibility-toggle component-id="FREE_TEXT_CONTENT"
                         section-name="{{::portfolioSection}}"
                         instance-name="{{::instanceName}}">
      </visibility-toggle>

      <edit-link on-edit="toggleEdit()"
                 on-exit-edit="updateOrCreateNew()">
      </edit-link>
    </div>
  </div>


  <div ng-if="!isEditing" class="free-text-content__text user-text" ng-if="freeTextContentItem.text.length">
    <ng-embed embed-data="freeTextContentItem.text" embed-options="embedOptions"></ng-embed>
  </div>

  <div ng-if="isEditing" class="free-text-content--edit">
    <div ng-controller="TinymceController">
      <textarea ui-tinymce="tinymceOptions" ng-model="freeTextContentItem.text"></textarea>
    </div>
  </div>

</div>
