<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
  -->

<article class="box-story bar">
  <div class="media media--responsive">

    <div ng-if="event.imageMainURL" class="media__image box-story__image">
      <a tabindex="0">
        <img ng-src="{{ event.imageMainURL }}" alt="" height="150" width="240" />
      </a>
    </div>

    <div class="media__body">

      <div class="box-story__topical">
        <span class="box-story__date">{{ event.datestart | date:'dd.MM.yyyy' }} - {{ event.dateEnd | date:'dd.MM.yyyy' }}</span>
        <a tabindex="0" class="box-story__tag">{{ event.type }}</a>
      </div>

      <h4 class="box-story__title">
        <a tabindex="0">{{ event.title }}, {{ event.courseTitle }}</a>
      </h4>

      <div ng-if="course.description" class="box-story__content">
        {{ event.description }}
      </div>

      <div ng-if="course.link.url" class="box-story__footer">
        <a href="{{ event.link.url }}">
          {{ event.link.title }}
        </a>
      </div>

    </div>

  </div>
</article>
