<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<article class="ui-component favorites" id="favorites" ng-class="{'edit-favorites' : editMode}">
  <div class="component-header favorites__header" >
    <h2 class="ui-component__title favorites__header__title" translate="favorites.title"></h2>
    <help-icon translation-key="favorites.helpText"
               aria-label-translation-key="favorites.title"
               panel-align="right"></help-icon>
    <div class="component-header__actions">
      <edit-link
        on-edit="edit()"
        on-exit-edit="exitEdit()"
      ></edit-link>
    </div>
  </div>

  <div class="favorites__dropzone">
    <ul ng-model="favorites"
        as-sortable="sortableOptions"
        is-disabled="!editMode"
        class="favorites__list">

      <li ng-repeat="favorite in favorites"
          as-sortable-item
          class="favorite"
          id="favorite-{{favorite.id}}"
          ng-switch on="favorite.type">
        <div as-sortable-item-handle class="favorite__drag-handle">
          <a href="#favorite-{{favorites[$index + 1].id}}"
             class="element-invisible element-focusable"
             ng-if="$first || $middle"
             translate="favorites.skipContent">
          </a>
          <a href="#add-new-favorite"
             class="element-invisible element-focusable"
             ng-if="$last"
             translate="favorites.skipContent">
          </a>
          <favorites-rss remove-favorite ng-switch-when="RSS" data="favorite"></favorites-rss>
          <favorites-unicafe remove-favorite ng-switch-when="UNICAFE" data="favorite"></favorites-unicafe>
          <favorites-twitter remove-favorite ng-switch-when="TWITTER" data="favorite"></favorites-twitter>
          <favorites-unisport remove-favorite ng-switch-when="UNISPORT" data="favorite"></favorites-unisport>
          <favorites-flamma remove-favorite ng-switch-when="FLAMMA_NEWS" data="favorite"></favorites-flamma>
          <favorites-flamma remove-favorite ng-switch-when="FLAMMA_EVENTS" data="favorite"></favorites-flamma>
        </div>
      </li>
      <li id="add-new-favorite" class="favorites__add-new">
        <add-new-favorite favorites="favorites" available-favorite-types="availableFavoriteTypes"></add-new-favorite>
      </li>
    </ul>
  </div>
</article>
