<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="ui-component editable-wrapper">
  <div class="component-header">
    <editable-heading component-id="SAMPLES"
                      default-text="samples.title"
                      profile-lang="{{::profileLang}}"
                      help-key="samples.helpText"
                      editing="editing"></editable-heading>
    <div class="component-header__actions">
      <visibility-toggle component-id="SAMPLES"></visibility-toggle>
      <edit-button on-edit="edit()"
                 on-exit-edit="exitEdit()"
                 exit-edit-disabled="!samplesValid"
                 on-disabled-exit-edit="markAllSubmitted()"></edit-button>
    </div>
  </div>

  <show-samples ng-show="!editing" samples="samples"></show-samples>
  <edit-samples ng-show="editing" samples="samples" on-change="refreshValidity()"></edit-samples>

  <div class="edit-buttons" ng-show="editing">
    <button
      class="button"
      ng-click="cancelEdit()"
      translate="general.cancel"></button>
    <button
      class="button"
      ng-click="exitEdit()"
      translate="general.save"></button>
  </div>
</div>
