<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div>
  <div ng-show="!cameraOn">
    <div ng-show="!showAvatarChangeType">

      <avatar-image class="user-avatar__large" img-src="session.avatarUrl" img-alt="session.name"></avatar-image>
      <div class="change-avatar__details">
        <h5>{{ session.name }}</h5>
        <div class="text-transform-capitalize">
          <span ng-if="currentState === State.MY_STUDIES" translate="general.student"></span>
          <span ng-if="currentState === State.MY_TEACHINGS" translate="general.teacher"></span>
        </div>
        <a tabindex="0" ng-click="showAvatarChangeType = !showAvatarChangeType" translate="userSettings.changeAvatar.title"></a>
      </div>
    </div>
    <div class="avatar-change-type" ng-show="showAvatarChangeType">
      <upload-image upload-callback="upload" cancel-callback="cancelUpload"></upload-image>
      <span ng-show="supportsCamera">| <a tabindex="0" ng-click="startCamera()" translate="userSettings.changeAvatar.takePicture"></a></span>
      | <a tabindex="0" ng-click="deleteUserAvatar()" tranlate="userSettings.changeAvatar.useDefault"></a>
    </div>
  </div>
  <div ng-show="cameraOn">
    <div class="webcam-container">
      <div class="camera-actions">
        <a tabindex="0" class="tag" ng-click="takeSnapshot()" translate="userSettings.changeAvatar.takePicture"></a>
        <a tabindex="0" ng-click="stopCamera()" translate="userSettings.changeAvatar.cancelPicture"></a>
      </div>
      <webcam channel="avatarChannel" on-streaming="onStreaming()">
        <div class="frame"></div>
      </webcam>
    </div>
  </div>
</div>
