<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div limit-visibility="['DESKTOP_ONLY']" class="page-navigation">
  <div class="wrapper">
    <nav class="main-menu">
      <ul class="menu">
        <li class="is-lvl1 main-menu__front">
          <span class="main-menu__home"></span>
          <a tabindex="0" ui-sref="init" class="active" aria-label="{{:: ('toolbar.home' | translate) }}"></a>
        </li>
        <li ng-repeat="link in primaryLinks track by link.key"
            class="is-lvl1" ng-class="{'is-expandable': link.hasSub, 'is-open': link.isOpen}"
            ng-init="link.isOpen = false">
          <a ng-if="!link.hasSub" href="{{ ::link.href[selectedLanguage] }}"
             analytics-event="{
               eventCategory: 'EXTERNAL_LINK',
               eventAction: 'CLICK',
               value: link.href[selectedLanguage]}">
            <span translate="{{::link.key}}"></span>
          </a>

          <a class="fatmenu__title fatmenu-open" ng-if="link.hasSub" href="{{ ::link.href[selectedLanguage] }}" ng-click="toggleFatmenu(link)">
            <span translate="{{::link.key}}"></span>
          </a>
          <span ng-if="link.hasSub" class="main-menu__expand fatmenu-open"  ng-click="toggleFatmenu(link)"></span>
          <ul ng-if="link.hasSub" class="menu">
            <li ng-repeat="sublink in link.subMenu track by sublink.key" class="is-lvl2">
              <a href="{{ ::sublink.href[selectedLanguage] }}"
                 analytics-event="{
                   eventCategory: 'EXTERNAL_LINK',
                   eventAction: 'CLICK',
                   value: sublink.href[selectedLanguage]}">
                <span translate="{{::sublink.key}}"></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <nav class="fatmenu" ng-class="{'is-open': fatmenuOpen, 'is-slidein': fatmenuOpen}" click-outside="hideFatmenu()" outside-if-not="fatmenu-open">
      <ul class="menu">
        <li class="is-lvl1 is-expandable" ng-class="{'is-open': fatmenuOpen}">
          <ul class="menu">
            <li ng-repeat="link in fatmenuContent track by link.key" class="is-lvl2">
              <a href="{{ ::link.href[selectedLanguage] }}"
                 analytics-event="{
                   eventCategory: 'EXTERNAL_LINK',
                   eventAction: 'CLICK',
                   value: link.href[selectedLanguage]}">
                <span translate="{{::link.key}}"></span>
              </a>
            </li>
          </ul>
        </li>
        <span class="fatmenu__collapse" ng-click="hideFatmenu()"></span>
      </ul>
    </nav>
    <user-menu></user-menu>
  </div>
</div>
