<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="office-hours">
  <div class="office-hours__bg-img-container">
    <div ng-if="edit && loaded" class="office-hours__box">
      <p translate="officeHours.intro" />
      <ul class="office-hours__degree-programmes">
        <li class="office-hours__degree-programme"
            ng-repeat="programme in newOfficeHours.degreeProgrammes">
          {{programme.name}}
          <span class="degree-programme__remove icon--remove"
                ng-click="removeDegreeProgramme(programme)">
          </span>
        </li>
      </ul>
      <select name="newDegreeProgramme"
              class="office-hours__input-element"
              ng-model="newDegreeProgramme"
              ng-change="addDegreeProgramme(newDegreeProgramme)"
              ng-options="programme.code as programme.name for programme in availableDegreeProgrammes | orderBy:'name'">
        <option value="" >{{('officeHours.degreeProgramme' | translate)}}...</option>
      </select>
      <textarea class="office-hours__input-element--text " placeholder="{{('officeHours.placeholder' | translate)}}..."
                ng-model="newOfficeHours.description"/>
      <div class="office-hours__buttons">
        <button ng-if="officeHours.description"
                class="button button-group__button"
                translate="officeHours.cancel"
                ng-click="cancel()"></button>
        <button class="button " translate="officeHours.publish"
                ng-click="publishOfficeHours()"></button>
      </div>
    </div>
    <div ng-if="!edit && loaded" class="office-hours__box">
      <p class="text-transform-capitalize" translate="officeHours.heading" />
      <ul class="office-hours__degree-programmes">
        <li class="office-hours__degree-programme"
            ng-repeat="programme in officeHours.degreeProgrammes">
          {{programme.name}}
        </li>
      </ul>
      <p class="office-hours__description">{{officeHours.description}}</p>
      <div class="button-group office-hours__buttons">
        <button class="button button-group__button" translate="officeHours.delete"
                ng-click="deleteOfficeHours()"></button>
        <button class="button button-group__button" translate="officeHours.edit"
                ng-click="editOfficeHours()"></button>
      </div>
    </div>
    <div ng-if="!loaded" class="office-hours__box"></div>
  </div>
</div>
