/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.component-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-word;

  h2,
  h3 {
    padding: 0;
    margin: 0 0.5em 0 0;
  }

  .component-header__actions {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    font-size: 1.2em;
    min-width: 96px;

    > * {
      padding-left: 1em;
    }
  }
}
