/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.cookie-notification {
  display: table;
  position: fixed;
  bottom: 0;
  width: calc(100vw - 2em);
  padding: 1em;
  background-color: $black;
  color: $white;
  z-index: 10;
  box-sizing: content-box;

  &__content, &__actions {
    display: table-cell;
    vertical-align: middle;
  }

  &__content {
    padding-right: 0.5em;
    line-height: 1.4;
  }

  &__actions {
    text-align: right;
  }

  &__dismiss {
    display: inline-block !important;
    padding: 0.5em 2em !important;
    margin-right: 1em;
  }
}
