/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.event-calendar {

  $today-color: #e5f3f9;

  padding-bottom: 1em;

  h2 {
    @include font-size(20px);

    text-align: center;
    position: relative;
    top: 5px;
  }

  .fc-day-header {
    color: $black;
    text-transform: uppercase;
    text-align: left;
    padding: 0.2em;
  }

  .fc-week-number {
    text-align: center;
    color: $silver;
    text-transform: uppercase;
    font-weight: normal;

    @include font-size(14px);
  }

  .fc-day-grid-event,
  .fc-time-grid-event {
    border-radius: 0;
  }

  .fc-left .fc-button {
    @include button;
    @include font-size(15px);

    margin-left: 0;
    margin-right: 0.4em;
    background-image: none;
    border-radius: 0;
    text-shadow: none;
    padding: 0.3em 0.7em 0.4em;
    box-shadow: none;

    &.fc-state-active {
      background-color: $darkblue;
    }
  }

  .fc-right .fc-button {
    @extend %button--light;

    @include font-size(15px);

    padding: 0.3em 0.7em 0.4em;
    background: transparent;
    border-radius: 0;
  }

  .fc-today-button,
  .event-calendar__button {
    text-transform: capitalize;
  }

  .fc-button:focus {
    outline: auto 5px $focus-color;
  }

  .fc-state-disabled {
    opacity: 1;
  }

  .fc-prev-button,
  .fc-next-button {
    padding: 0 0.3em !important;
  }

  .fc-icon {
    position: relative;
    top: -1px !important;
  }

  .fc-icon-calendar-prev {
    @include transform(rotate(180deg));

    &::before {
      @include icon($icon-link-arrow);
    }
  }

  .fc-icon-calendar-next {
    &::before {
      @include icon($icon-link-arrow);
    }
  }

  @include breakpoint($mobile-only) {
    padding-top: 0.5em;

    .fc-right,
    .fc-left,
    .fc-center {
      display: block;
      width: 100%;
    }

    .fc-right,
    .fc-center {
      margin-top: 0.5em;
    }
  }

  .fc-today {
    background-color: $today-color;
  }

  :focus {
    outline: 0;
  }
}
