/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

$favorite-size-small: 240px;
$favorite-size-medium: 300px;
$favorite-size-large: 340px;

.favorites-container {
  @include clearfix;
}

.favorites-list__item {
  position: relative;
}

.favorites-list__remove {
  display: none;
  .edit-favorites & {
    display: block;
  }
  color: $white;
  background-color: $blue;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    @include hy-icon("\EA32");
  }
}

.favorites-list__remove-screen {
  display: none;
  .edit-favorites & {
    display: block;
  }
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/***************************** Required styles *****************************/

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.favorites-container ul[dnd-list],
.favorites-container ul[dnd-list] > li {
  position: relative;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.favorites-container .dropzone ul[dnd-list] {
  min-height: 42px;
  margin: 0px;
  padding-left: 0px;
  @include breakpoint($small) {
    margin-right: -40px;
  }
  @include breakpoint($medium) {
    margin-right: -80px;
  }
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.favorites-container .dropzone li {
  display: block;

  section {
    height: 100%;
  }
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.favorites-container .dropzone .dndDragging {
  opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.favorites-container .dropzone .dndDraggingSource {
  display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.favorites-container .dropzone .dndPlaceholder {
  background-color: #ddd !important;
  display: block;
  position: relative;

  @include breakpoint($medium) {
    height: 300px;
  }

  @include breakpoint($large) {
    height: 340px;
  }
}

/***************************** Element type specific styles *****************************/

.favorites-container .dropzone .itemlist {
  min-height: 120px !important;
}

.favorites-container .dropzone .itemlist > li {
  padding-top: 20px;

  @include breakpoint($small) {
    height: 380px;
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding-right: 40px;
  }

  @include breakpoint($medium) {
    padding-right: 80px;
  }

  .add-new {
    @include border;
  }

  .rss-feed {

    .rss-header {
      white-space: nowrap;
    }

    .rss-content {
      overflow-y: auto;
      max-height: 319px;

      @include breakpoint($small) {
        overflow-y: auto;
      }

    }

    .single-item-image-container {
      width: 100%;
      height: 200px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin-bottom: 5px;
    }

  }

  .twitter {
    padding: 0;
    overflow: hidden;
  }

}

.favorites-container .dropzone .container-element {
  margin: 10px;
}

.loading-container {
  text-align: center;
  padding: 15px;
}

.favorite-img {
  max-height: 150px;
}

// _add-favorites.scss

.favorites-list__item.add-new {
  height: 100%;
  @include breakpoint($mobile-only) {
    height: 100px;
  }
}

.favorites-list-popover-container {
  top: calc(50% + 3rem) !important;
  left: 0;
  max-width: none !important;

  @include breakpoint($mobile-only) {
    margin: 0 10%;
  }

  @include breakpoint($small) {
    margin: 0;
  }

  &::before {
    transform: translate(50%,0);
    right: 50% !important;
  }

  &::after {
    transform: translate(50%,0);
    right: 50% !important;
  }
}

.add-favorite {
  height: 250px;

  @include breakpoint($small) {
    height: 280px;
  }

  @include breakpoint($medium) {
    height: 320px;
  }

  @include breakpoint($large) {
    height: 350px;
  }
}

.add-favorite-step {
  width: 100%;
  ul {
    padding: 0.5em;
  }
  li.bar {
    padding: 0.5em 0;
    font-size: 0.9em;
    cursor: pointer;

    &.disabled {
      cursor: auto;

      a {
        color: grey;
      }

    }
  }
}

.add-favorite-button {
  height: 100%;
  display: block;
}

.add-favorite-button__plus {
  font-weight: bold;
  font-size: 6rem;
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
}

.add-favorite-button__title {
  font-size: 2rem;
}

.add-favorite-search {
  input[type="text"], input[type="url"] {
    border: 0;
    width: 80%;
    font-size: 0.8rem;
    &.ng-invalid {
      border: 1px solid $red;
    }
  }

  i.fa-search {
    color: $lightsilver;
  }

  a.fa-close {
    color: $blue;
    cursor: pointer;
  }
  padding: 0 0 0 1em;
}

.add-favorite-search-result {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
  font-size: 0.8rem;

  @include breakpoint($small) {
    height: 230px;
  }
  @include breakpoint($medium) {
    height: 270px;
  }
  @include breakpoint($large) {
    height: 300px;
  }
}

.unisport {

    .unisport-header {
      width: 100%;
      height: 100px;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
      }
    }

    .authorization {
      padding: 10px;

      a {
        margin-top: 1em;
      }
    }

  .events {
    flex-direction: column;
    height: 260px;
    overflow-y: auto;
    font-size: 0.9em;

    li {
      flex-direction: column;
      flex: 1 0 auto;
      margin-top: 1em;
      justify-content: center;
      border-bottom: 1px solid $lightsilver;
      padding-bottom: 1em;      
    }

    &__event-name {
      flex: 1 100%;
      justify-content: center;
      color: $blue;
      margin-bottom: 0.2em;
    }

    &__info-row {
      flex-direction: row;
      flex: 1 100%;
      margin-top: 0.2em;

      &__heading {
        flex: 1;
      }
      &__content {
        flex: 3;
      }
    }

  }
  
}

