/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.favorites__header {
  @include border-bottom;
  margin-bottom: 1em;
}

.favorites__header__title {
  display: inline-block;
  margin-right: 0.5em;
  word-wrap: break-word;
}

.favorites__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include breakpoint($small) {
    &::after {
      content: "";
      width: calc(33.33% - (80px/3));
    };
  }

  @include breakpoint($medium) {
    &::after {
      content: "";
      width: calc(33.33% - (160px/3));
    };
  }
}

.favorite, .favorites__add-new {
  padding-top: 20px;

  @include breakpoint($mobile-only) {
    width: 100%;
    min-height: 6em;
  }

  @include breakpoint($small) {
    height: 380px;
    display: inline-block;
    vertical-align: top;
    width: calc(33.33% - (80px/3));
  }

  @include breakpoint($medium) {
    width: calc(33.33% - (160px/3));
  }

  .add-new {
    @include border;
  }

  .rss-feed {
    .rss-header {
      word-break: break-all;
    }

    .box-story__tag {
      display: inline;
    }
    .rss-content {
      overflow-y: auto;
      max-height: 319px;

      @include breakpoint($small) {
        overflow-y: auto;
      }
    }

    .single-item-image-container {
      width: 100%;
      height: 200px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin-bottom: 5px;
    }
  }

  .twitter {
    padding: 0;
    overflow: hidden;
  }
}

.as-sortable-dragging {
  & .as-sortable-item {
    opacity: 0.7;
    width: 100%;
  }
}

.favorite__drag-handle {
  height: 100% !important;
}

.favorites:not(.edit-favorites) {
  & .as-sortable-item-handle {
    cursor: default;
  }
}

.favorites-list__item {
  height: 100%;
  position: relative;

  .twitter-timeline {
    display: none;
  }
}

.favorites-list__remove {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  color: $white;
  background-color: $blue;
  cursor: pointer;

  .edit-favorites & {
    display: block;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include icon($icon-trash);
  }
}

.twitter-favorite__loading {
  position: absolute;
  border: 2px dashed $gray;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 85%;
  transform: translate(-50%,-50%);
  z-index: -1;

  &-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: $gray;
  }
}

.favorites-list__remove-screen {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  .edit-favorites & {
    display: block;
  }
}

.loading-container {
  text-align: center;
  padding: 15px;
}

.favorite-img {
  max-height: 150px;
}

.favorites-list__item.add-new {
  @include breakpoint($mobile-only) {
    height: 100px;
  }
}

.favorites-list-popover-container {
  top: calc(50% - 2rem) !important;
  left: 0;
  max-width: none !important;
  border: none !important;
  box-shadow: none !important;
  min-height: 80px;

  @include breakpoint($mobile-only) {
    margin: 0 10%;
  }

  @include breakpoint($small) {
    margin: 0;
  }

  &::before {
    transform: translate(50%,0);
    right: 50% !important;
  }

  &::after {
    transform: translate(50%,0);
    right: 50% !important;
  }
}

.add-favorite-step {
  width: 100%;

  ul {
    padding: 0.5em;
  }

  li.bar {
    font-size: 0.9375rem;
    cursor: pointer;
    margin-bottom: 2px;
    padding: 0;

    a {
      width: 100%;
      padding: 0.3em 0.7em 0.4em;
      line-height: normal;
    }

    &.disabled {
      cursor: auto;

      a {
        color: grey;
      }
    }
  }
}

.add-favorite-button {
  height: 100%;
  display: block;

  &:hover, &:hover>.add-favorite-button__title {
    color: $darkblue;
  }
}

.add-favorite-button__plus {
  font-weight: bold;
  font-size: 6rem;
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.add-favorite-button__title {
  font-size: 2rem;
  color: $blue;
}

.add-favorite-search {
  .icon--search::after, .icon--remove::after, .icon--done::after {
    vertical-align: middle;
    flex: 1 0 20px;
    min-width: 18px;
    padding-left: 0.2em;
  }

  input[type="text"], input[type="url"] {
    border: 0;
    font-size: 0.8rem;
    flex: 9 1 auto;
    min-width: 120px;

    &.ng-invalid {
      border: 1px solid $red;
    }
  }

  display: flex;
  padding: 0 0 0 0;
}

.add-favorite-search-result {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
  font-size: 0.8rem;

  @include breakpoint($small) {
    height: 230px;
  }

  @include breakpoint($medium) {
    height: 270px;
  }

  @include breakpoint($large) {
    height: 300px;
  }
}

.unisport {
  .unisport-header {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
    }
  }

  .authorization-url-container {
    padding: 10px;

    a {
      margin-top: 1em;
    }
  }

  .events {
    display: flex;
    flex-direction: column;
    height: 260px;
    overflow-y: auto;
    font-size: 0.9em;

    li {
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;
      margin-top: 1em;
      justify-content: center;
      border-bottom: 1px solid $lightsilver;
      padding-bottom: 1em;
    }

    &__event-name {
      display: flex;
      justify-content: center;
      color: $blue;
      margin-bottom: 0.2em;
    }

    &__info-row {
      display: flex;
      flex-direction: row;
      margin-top: 0.2em;

      &__heading {
        flex: 1;
      }

      &__content {
        flex: 3;
      }
    }
  }
}
