/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.full-screen-calendar {
  padding: 4em 6em 0;
  width: 100%;
  background-color: $white;
}

.full-screen-calendar__title {
  // colour #ddd copied from fullcalendar.css, to match calendar grid colour
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.4em;
}

.full-screen-calendar__close {
  position: absolute;
  top: 5em;
  right: 6em;
  color: $blue;
  background: transparent;
  border: 0;
  padding: 0;
}
