/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

$icon-size: 20px;
$tooltip-width: 300px;
$tooltip-width-mobile: 250px;

.help-icon {
  font-size: $icon-size;
  position: relative;
  top: 3px;
}

.help-icon-popover-trigger {
  font-size: inherit !important;
}

.help-icon-popover-container {
  right: -15px !important;
  width: $tooltip-width-mobile;


  @include breakpoint($mobile-only) {
    width: $tooltip-width-mobile;
  }

  @include breakpoint($small) {
    width: $tooltip-width;
  }
}

.help-icon__popover {
  @include font-size(13px);
  padding: 1em;
}
