/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

//
// Social media links
// --------------------------------------------------


.s-some {
  background-color: transparent;
  background-image: url('../images/ui/s-some.png');
  background-position: -100px -250px;

  display: inline-block;
  height: 50px;
  line-height: 1;
  overflow: hidden;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 50px;
  zoom: 1;
  *text-indent: -9999px;

  &:before{
    content:"";
    display: block;
    width: 0;
    height: 100%;
  }
}

// Icons
.s-some--facebook { background-position: 0 0; }
.s-some--twitter  { background-position: 0 -50px; }
.s-some--youtube  { background-position: 0 -100px; }
.s-some--linkedin { background-position: 0 -150px; }

// Hover states for icon links
.s-some--facebook:hover { background-position: -50px 0; }
.s-some--twitter:hover  { background-position: -50px -50px; }
.s-some--youtube:hover  { background-position: -50px -100px; }
.s-some--linkedin:hover { background-position: -50px -150px; }
