/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.local-login {
  color: $white;
  max-width: 400px;

  &__heading {
    padding: 0;
    margin-bottom: 0.5em;
    color: inherit;
    text-transform: uppercase;
  }

  &__users-heading {
    @extend .local-login__heading;
    margin-bottom: 0.5em;
    font-size: 1.5em;
  }

  &__users-list {
    margin: 1.5em 0;
  }

  &__user {
    margin: 0.2em;
  }

  &__log-in {
    display: inline-block;
    width: 200px;
  }

  &__read-more {
    @extend .login-page__read-more;
  }
}
