/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

$error-color: $brown;
$error-bg-color: #f5ede9;
$info-color: $black;
$info-bg-color: $lightsilver;

@mixin message-properties($color, $background-color, $icon) {
  p {
    color: $color;

    &::before {
      @include icon($icon);
    }
  }

  background-color: $background-color;
  border: 1px solid darken($background-color, 5%);
}

.messages.messages--light {
  span {
    color: inherit;
  }

  &.error {
    @include message-properties($error-color, $error-bg-color, $icon-warning);
  }

  &.info {
    @include message-properties($info-color, $info-bg-color, $icon-info-stroke);
  }
}

.sticky-message {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  @include clearfix;
}
