/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

$navigationHeight: 60px;

.page-navigation {
  @include clearfix();
  nav {
    float: left;
  }
  .wrapper {
    padding: 0 1em;
  }

  @include breakpoint($small) {
    height: $navigationHeight;
    box-sizing: border-box;
    .wrapper {
      height: 100%;
      position: relative;
    }

    nav {
      height: 100%;
      border: none;
    }
    .main-menu {
      display: table;
      height: 100%;
    }
    .main-menu__item {
      display: table-cell;
      vertical-align: middle;
      font-weight: 700;
      font-size: 15px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      text-decoration: none;
      &:first-child {
        padding-right: 20px;
        position: relative;
        top: 2px;
      }
    }
    .fatmenu {
      background-color: $white;
      display: none;
      position: absolute;
      width: 100%;
      left: 0;
      top: $navigationHeight;
      height: auto;
      z-index: 10001;

      &.is-open {
        border-bottom: 1px solid $mediumsilver;
        display: block;
      }

      > ul.menu {
        @include container;
        height: 100%;
        overflow: hidden;
        position: relative;
      }

      li.is-lvl1 {
        float: left;
        margin-right: -100%;
        padding: 2em 0 20px;
        visibility: hidden;
        width: 100%;

        &.is-open {
          display: block !important;
          margin-right: 0;
          visibility: visible;
        }

        > ul.menu {
          margin-bottom: 3em;
        }
      }

      li.is-lvl2 {
        float: left;
        margin-right: 10px;
        padding: 0 0 0.8em 0;
        width: 30%;

        > a {
          @include font-weight-bold;
          @include font-size(15px);
          display: block;
          letter-spacing: 0;
          line-height: 1.25em;
          padding: ($vert-spacing-unit)/2 0 0;
          position: relative;
          text-decoration: none;

          &:hover {
            color: $darkblue;
          }

          &.active-trail {
            color: $darkblue;
          }
        }

        > ul.menu {
          margin: 0.5em 0 0 0;
          padding: 0;
          position: relative;
        }
      }
    }

    .fatmenu__title {
      a {
        color: $blue;

        &:hover {
          color: $darkblue;
        }

        &:after {
          @include font-size(16px);
          @include icon($icon-link-arrow);
          margin-left: 1em;
          position: absolute;
        }
      }
    }

    .fatmenu__collapse {
      @include font-weight-medium;
      @include font-size(20px);
      align-items: center;
      color: $blue;
      cursor: pointer;
      display: flex;
      height: 2em;
      justify-content: center;
      margin: 0;
      position: absolute;
      right: 10px;
      text-align: center;
      top: 15px;
      width: 2em;

      &:hover {
        color: $darkblue;
      }

      &:before {
        @include icon($icon-caret-up);
      }
    }
  }
}
