/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.popover-wrapper {
  $triangle-size: 10px;

  position: absolute;
  top: calc(100% + #{$triangle-size});
  right: 0;
  z-index: 100;
  color: $silver;
  word-wrap: break-word;
  background-color: $white;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);

  @include border;
  @include font-size(13px);
  @include triangle($triangle-size);

  &::before {
    top: -$triangle-size;
    right: 1em;
    left: auto;
  }

  &::after {
    top: -($triangle-size - 1px);
    right: 1em;
    left: auto;
  }
}
