.popover-wrapper {
  $triangle-size: 10px;

  position: absolute;
  top: calc(100% + #{$triangle-size});
  right: 0;
  max-width: 400px;
  z-index: 100;
  color: $silver;
  word-wrap: break-word;
  background-color: $white;
  @include border;
  @include tab-shadow;
  @include font-size(13px);

  @include triangle($triangle-size);

  &::before {
    top: -$triangle-size;
    right: 1em;
    left: auto;
  }

  &::after {
    top: -($triangle-size - 1px);
    right: 1em;
    left: auto;
  }

  a {
    color: $blue !important;
  }
}
