/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

@include breakpoint(print) {
  .l-content-secondary-wrapper,
  .fc-button,
  .l-header,
  .page-banner__button-icon--arrow-down,
  .page-banner__button-icon--arrow-up {
    display: none !important;
  }

  .full-screen-calendar {
    padding: 2em 2em 0;
  }

  .full-screen-calendar__close {
    display: none;
  }

  .calendar__footer {
    margin-top: 0;
    padding-bottom: 0;
  }

  .calendar {
    .page-footer__copyright,  {
      display: none;
    }
  }

  .page-footer__social-links, .page-footer__links {
    display: none;
  }

  // These next two are to avoid whitespace at the end of the page, which
  // otherwise easily results in an extra blank printout page
  .page-footer__contact, .page-footer__exchange {
    margin-bottom: 0;
  }

  h2 {
    page-break-after: avoid;
  }

  ul, img {
    page-break-inside: avoid;
  }
}
