/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

$todo-item-done-color: #b3b3b3;
$todo-item-color-dark: $white;
$todo-item-background-color-dark: rgba(0, 0, 0, 0.6);
$todo-item-color-with-bg: $white;
$container-transition-duration: 0.5s;
$container-default-height: 260px;
$container-mobile-height: 195px;
$add-todo-input-height: 64px;
$add-todo-input-height-with-border: $add-todo-input-height + 2 * 1px;
$add-todo-input-top-margin: 10px;
$add-todo-input-total-height: $add-todo-input-height-with-border + $add-todo-input-top-margin;

@mixin todo-item-font-color {
  .todo-items--banner & {
    color: $todo-item-color-dark;
  }

  .todo-items--secondary & {
    color: $todo-item-color-with-bg;
  }
}

@mixin container-height($input-area-height: $add-todo-input-total-height) {
  @include breakpoint($mobile-only) {
    height: $container-mobile-height + $input-area-height;
  }

  @include breakpoint($small) {
    height: $container-default-height + $input-area-height;
  }
}

@mixin container-transition-delay {
  @include breakpoint($mobile-only) {
    transition-delay: 0;
  }

  @include breakpoint($small) {
    transition-delay: $container-transition-duration;
  }
}

.todo-items, .office-hours {
  width: 100%;
  position: relative;
  z-index: 10;
  will-change: transform, height;
  transition: $container-transition-duration linear all;

  &--banner {
    padding: 1em;
    color: $todo-item-color-dark;

    @include breakpoint($small) {
      padding-top: 2em;
      width: 32%;
      right: 0;
      position: absolute;
    }
  }

  &--secondary {
    margin-bottom: 2em;
    overflow-y: hidden;
    @include container-height();

    color: $todo-item-color-with-bg;

    &.ng-enter {
      @include container-transition-delay;
      height: 0;
    }

    &.ng-enter-active {
      @include container-height();
    }

    &.ng-leave {
      @include container-height();
    }

    &.ng-leave-active {
      height: 0;
    }
  }

  .page-banner--visible.ng-enter & {
    @include container-transition-delay;
    transform: scale(0.1);
  }

  .page-banner--visible.ng-enter-active & {
    transform: scale(1);
  }

  .page-banner--visible.ng-leave & {
    transform: scale(1);
  }

  .page-banner--visible.ng-leave-active & {
    transform: scale(0.1);
  }

  &__bg-img-container {
    background-color: rgba(0, 0, 0, 0.1);

    .todo-items--secondary & {
      background: url('../images/bg/todo-list-bg.jpg') no-repeat;
    }
  }

  &__box {
    position: relative;
    padding: 20px;
    overflow-y: auto;

    .todo-items--banner &, .todo-items--secondary & {
      @include container-height(0);
    }

    .office-hours--banner &, .office-hours--secondary & {
      @include container-height();
    }

    .todo-items--banner &, .office-hours--banner & {
      background-color: $todo-item-background-color-dark;
    }

    .todo-items--secondary &, .office-hours--secondary & {
      @include border;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

}

.todo-items__new-item {
  position: relative;
  margin-top: 0.5em;

  @include breakpoint($small) {
    padding: 0;
    margin-top: $add-todo-input-top-margin;
    height: $add-todo-input-height-with-border;
  }
}

.todo-items__new-item-input-container {
  overflow: hidden;
  margin-right: 4em;

  input {
    width: 100%;
    height: $add-todo-input-height;
    border: none;
    padding: 0 20px;
    color: $gray;
    background-color: rgba(255, 255, 255, 0.8);

    &:focus {
      background: #ffffff;
    }

    @include input-placeholder {
      color: rgb(151, 151, 151);
    }
  }

  .todo-items--secondary & {
    @include border;
  }
}

.todo-items__new-item-add-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 4em;
  height: $add-todo-input-height;
  text-align: center;
  background-color: $blue;
  color: $white;
}

.todo-items__list-item {
  position: relative;
  padding: 10px 60px 10px 0px;
  word-wrap: break-word;

  .todo-items--banner & {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .todo-items--secondary & {
    @include border-bottom;
  }

  &.done {
    color: $todo-item-done-color;
  }

  .todo-items__action {
    @include vertically-center;
    cursor: pointer;

    &--done {
      right: 35px;

      .done & {
        cursor: default;
      }
    }

    &--remove {
      right: 10px;
      @include todo-item-font-color;
    }
  }
}

.todo-items__icon {
  text-align: center;
}

.office-hours__input {
  height: 90px;
}

.office-hours__buttons {
  position: absolute;
  bottom: 20px;
  right: 20px;

  button {
    width: 90px;
    text-transform: capitalize;
  }

}