/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

$todo-item-done-color: #b3b3b3;
$todo-item-color-dark: $white;
$todo-item-background-color-dark: rgba(0, 0, 0, 0.5);
$todo-item-color-with-bg: $white;
$container-transition-duration: 0.6s;

@mixin todo-item-font-color {
  .todo-items--dark & {
    color: $todo-item-color-dark;
  }
  .todo-items--with-bg & {
    color: $todo-item-color-with-bg;
  }
}

.todo-items {
  width: 100%;
  position: relative;
  z-index: 10;
  will-change: transform;

  &--banner {
    padding: 1em;
    @include breakpoint($small) {
      padding-top: 2em;
      width: 32%;
      right: 0;
      position: absolute;
    }
  }

  &--secondary {
    margin-bottom: 2em;
  }

  &--dark {
    color: $todo-item-color-dark;
  }

  &--with-bg {
    color: $todo-item-color-with-bg;
  }

  transition: $container-transition-duration linear all;
  will-change: transform;

  .page-banner--visible.ng-enter & {
    transform: scale(0.1);
  }

  .page-banner--visible.ng-enter-active & {
    transform: scale(1);
  }

  .page-banner--visible.ng-leave & {
    transform: scale(1);
  }

  .page-banner--visible.ng-leave-active & {
    transform: scale(0.1);
  }
}

.todo-items__new-item {
  position: relative;
  margin-top: 0.5em;

  @include breakpoint($small) {
    padding: 0;
    margin: 10px 0 0 0;
    height: 4em;
    line-height: 4em;
  }
}

.todo-items__new-item-input-container {
  overflow: hidden;
  margin-right: 4em;
  input {
    width: 100%;
    height: 4em;
    border: none;
    padding: 0 20px;
    color: $gray;
    background-color: rgba(255, 255, 255, 0.8);
    &:focus {
      background: #ffffff;
    }
    @include input-placeholder {
      color: rgb(151, 151, 151);
    }
  }

  .todo-items--with-bg & {
    @include border;
  }
}

.todo-items__new-item-add-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 4em;
  height: 4em;
  text-align: center;
  background-color: $blue;
  color: $white;
}

.todo-items__list-item {
  position: relative;
  padding: 10px 60px 10px 0px;
  word-wrap: break-word;

  .todo-items--dark & {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .todo-items--with-bg & {
    @include border-bottom;
  }

  &.done {
    color: $todo-item-done-color;
  }

  .todo-items__action {
    @include vertically-center;
    cursor: pointer;
    &--done {
      right: 35px;

      .done & {
        cursor: default;
      }
    }
    &--remove {
      right: 10px;
      @include todo-item-font-color;
    }
  }
}

.todo-items__icon {
  text-align: center;
}

.todo-items__box {
  position: relative;

  .todo-items--dark & {
    background-color: $todo-item-background-color-dark;
  }

  .todo-items--with-bg & {
    @include border;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      background: url('../images/bg/todo-list-bg.jpg') no-repeat;
      z-index: -2;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.4);
      z-index: -1;
    }
  }

  padding: 20px;
  overflow-y: scroll;

  @include breakpoint($mobile-only) {
    height: 195px;
  }

  @include breakpoint($small) {
    height: 260px;
  }
}
