/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

$user-component-height-mobile: 3em;

$user-component-bg-default: rgba(0, 0, 0, 0.5);
$user-component-height-default: 4em;

$grey-background: rgb(224, 224, 224);
$time-color: rgb(109, 109, 109);

.user-menu {
  position: relative;

  @include breakpoint($small) {
    display: table;
    float: right;
    height: 100%;
  }

  .icon--in-menu {
    font-size: 1.2em;
  }
}

@include breakpoint($small) {
  .user-menu__item.user-settings {
    padding-right: 0;
  }
}

.user-menu__item {
  @include breakpoint($small) {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
  }
}

.user-settings__menu {
  @extend .dropdown-menu;

  @include triangle-with-border(12px, 12px);

  background-color: $white;

  a {
    color: $blue;

    &.tag {
      color: $white;
    }
  }

  .in-menu-icon {
    position: relative;
    left: -3px;
    margin-right: 2px;
    vertical-align: middle;
  }

  .user-settings__menu-item {
    // Override the @extend .dropdown-menu so that we don't have to rewrite all of it.
    padding: 0 !important;
    margin: 0 1em;

    @include border-bottom;

    a {
      padding: 1em 0;
      display: block;
    }
  }

  li.change-avatar {
    position: relative;

    .camera-actions {
      margin-bottom: 20px;
    }

    .user-avatar__large {
      display: inline-block;
      margin-right: 1em;
      vertical-align: top;
    }

    .change-avatar__details {
      display: inline-block;
      width: 60%;
      vertical-align: top;

      h5 {
        font-size: 1.1em;
      }

      a {
        margin-top: 0.1em;
        display: inline-block;
      }
    }
  }

  @include breakpoint($mobile-only) {
    position: initial !important;
    z-index: initial !important;
  }

  @include breakpoint($small) {
    top: $user-component-height-default;
    width: 330px;
    min-width: 15em;
  }
}

.user-menu__actions--action:hover {
  cursor: pointer;
}
