/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

// Global max-width for content wrappers.
$page-content-max-width: 1280px !default;

// Adjusting this variable automatically alters the height of the banner image
// and carousel.
$page-banner-height: 420px !default;
$page-banner-height-mobile: 100% !default;
$page-banner-image-height-mobile: 320px !default;

$real-black: #000000;

$mobile-only: max-width 767px;
$mobile-only-with-ipad: max-width 768px;
$page-content-max-width-only: max-width $page-content-max-width;

$button-text-color: $white;
$button-bg-hover-color: #005479;

$focus-color: lighten($blue, 20%);

// Old Styleguide colors
$brown:     #974822;
$green:     #4FB151;
$limegreen: #5bbf21;
$lila:      #9258c8;

$gray:      #666;
$darkgray:  #424242;
$black:     #000;
$labelBlack: #555555;
