<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div role="article" id="week-feed">
  <div class="ui-component ui-component--events">
    <h2 class="ui-component__title"><span ng-bind="header"></span></h2>

    <scrollable-tab-bar tab-selector=".week-feed__tabs li" use-full-width-on-mobile="true">
      <ul class="tab-set" role="tablist">
        <li ng-repeat="tab in tabs"
            ng-class="getTabClasses(tab)"
            ng-click="selectTab(tab)"
            role="tab"
            class="tab-set__tab clickable">
          <a>{{ tab.translateKey | translate | capitalize }}</a>
        </li>
      </ul>
    </scrollable-tab-bar>
    <ul class="tag-list--tabs" role="tablist" ng-hide="hideSubTabs">
      <li ng-repeat="subTab in subTabs"
          ng-class="getSubTabClasses(subTab)"
          ng-click="selectSubTab(subTab)"
          role="tab"
          class="clickable">
        <a>{{ subTab.translateKey | translate | capitalize }}</a>
      </li>
      <li class="weekfeed__subscribe" ng-if="selectedTab.key === 'SCHEDULE'">
        <subscribe-events ng-if="!hideSubTabs"></subscribe-events>
      </li>
    </ul>

    <div block-ui="weekFeed" class="content-loader">
      <message ng-if="message"
               class="messages--light"
               ng-show="message"
               message="message">
      </message>

      <ul class="week-feed-items">
        <li ng-repeat="feedItem in feedItems | limitTo:numberOfVisibleItems"
            ng-class="{'feed-item--child': feedItem.showAsChild, 'feed-item--last-child': feedItem.showAsLastChild}">
          <item feed-item="feedItem" first="$first" tab-options="selectedTab"></item>
        </li>
      </ul>

      <event-calendar events="events" calendar-view="calendarView" ng-if="events && hideSubTabs"></event-calendar>

      <div class="week-feed-actions">
        <button class="button--light button" ng-click="showMore()" ng-if="showMoreVisible()" translate="buttons.showMore">
        </button>
      </div>
    </div>
  </div>
</div>
