
<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
  -->

<div role="article" id="week-feed">
  <div class="ui-component ui-component--events">

    <h2 class="ui-component__title"><span ng-bind="header"></span></h2>
    
    <div class="text-label title-stricken">{{ "general.show" | translate | capitalize }}</div>

      <ul class="tag-list--tabs" role="tablist">
          <li ng-repeat="tab in tabs"
            ng-class="getTabClasses(tab)"
            ng-click="selectTab(tab)"
            role="tab"
            class="clickable">
            <a>{{ tab.translateKey | translate | capitalize }}</a>
          </li>
      </ul>

    <message
        class="messages--light"
        ng-show="message"
        message="message">
    </message>

    <ul class="week-feed-items">
      <li ng-repeat="feedItem in feedItems | limitTo:numberOfVisibleItems">
        <item feed-item="feedItem" first="$first" tab-options="selectedTab"></item>
      </li>
    </ul>

    <event-calendar events="events" ng-if="selectedTab === Tabs.CALENDAR"></event-calendar>

    <div class="week-feed-actions">
      <button class="button--light button" ng-click="showMore()" ng-show="showMoreVisible()">{{ "buttons.showMore" | translate }}</button>
      <subscribe-events ng-show="selectedTab === Tabs.UPCOMING_EVENTS || selectedTab === Tabs.CALENDAR"></subscribe-events>
    </div>
  </div>

</div>
