<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="useful-links" id="useful-links">
  <div class="component-header useful-links__header">
    <div class="static-heading">
      <h3 class="useful-links__title" translate="usefulLinks.title"></h3>
      <help-icon translation-key="usefulLinks.helpText"
                 aria-label-translation-key="usefulLinks.title"></help-icon>
    </div>
    <div class="component-header__actions">
      <edit-link on-edit="edit()" on-exit-edit="exitEdit()"></edit-link>
    </div>
  </div>

  <div class="useful-links__dropzone">
    <ul class="list-of-links useful-links__list"
        ng-model="usefulLinks"
        as-sortable="sortableOptions"
        is-disabled="!editMode || editableOpen">
      <li ng-repeat="link in usefulLinks"
          class="useful-link"
          as-sortable-item>
        <div as-sortable-item-handle>
          <a ng-hide="editMode" href="{{link.url}}" class="list-of-links__link button--action icon--arrow-right"
            analytics-event="{
              eventCategory: 'USEFUL_LINKS',
              eventAction: 'CLICK',
              value: link.url}">
            {{ link.description | renderUsefulLinkDescription:link.type }}
          </a>

          <editable-useful-link ng-show="editMode"
                                useful-link="link"
                                editable="link.type === UsefulLinkType.USER_DEFINED">
          </editable-useful-link>

          <a href=""
             ng-show="editMode && !link.edit"
             class="useful-links__delete-link"
             ng-click="deleteLink(link)"
             role="button">
            <i class="icon--trash"></i>
          </a>
        </div>
      </li>
    </ul>
  </div>

  <div class="new-useful-link-container">
    <div class="new-useful-link">
      <form name="newLinkUrlForm">
        <input ng-model="newLink.url"
               type="text"
               ng-change="searchPageTitle(newLink.url)"
               placeholder="{{::('usefulLinks.addNewLink' | translate | capitalize)}}"
               ui-keypress="{'enter':'addNewUsefulLink()'}">
      </form>
      <span ng-show="pageTitleSearchState === SearchState.SEARCHING" class="icon--spinner icon-spin"/>
      <a href="" ng-show="newLink.url" ng-click="clearSearch()">
        <i class="icon--close"></i>
      </a>
      <a href="" class="new-useful-link__add-button" ng-click="addNewUsefulLink()">
        <i class="icon--plus"></i>
      </a>
    </div>
    <useful-link-title ng-show="pageTitleSearchState === SearchState.SHOW_RESULTS"
                       model="newLink.description"
                       enter-fn="addNewUsefulLink">
    </useful-link-title>
  </div>

  <ul class="list-of-links">
    <li limit-visibility="['MY_STUDIES_ONLY']">
      <a class="list-of-links__link useful-links__fixed-link-button" href="{{getStudentServicesLink()}}"
         analytics-event="{
              eventCategory: 'USEFUL_LINKS',
              eventAction: 'CLICK',
              value: getStudentServicesLink()}">
        <span class="useful-links__fixed-link-title" translate="usefulLinks.studentServices"></span>
      </a>
    </li>

    <li>
      <a class="list-of-links__link useful-links__fixed-link-button" href="{{getHelpdeskLink()}}"
         analytics-event="{
              eventCategory: 'USEFUL_LINKS',
              eventAction: 'CLICK',
              value: getHelpdeskLink()}">
        <p class="useful-links__fixed-link-title">Helpdesk</p>
        <p class="useful-links__fixed-link-info">helpdesk@helsinki.fi</p>
      </a>
    </li>
  </ul>

</div>
