<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="subscribe-events-popover">
  <div class="subscribe-events-popover__link">
    <span id="calendar-feed-url" ng-show="calendarFeedUrl">{{::calendarFeedUrl}}</span>
    <span ng-hide="calendarFeedUrl" class="icon--spinner icon-spin"/>
  </div>
  <div class="subscribe-events-popover__content">
    <div class="subscribe-events-popover__copy2clipboard" ng-show="showCopyToClipboard">
      <button id="subscribe-events-trigger"
         class="text-transform-capitalize button--small"
         clipboard
         clipboard-value-selector="#calendar-feed-url"
         clipboard-success-callback="copyToClipboardSuccessCallback"
         clipboard-error-callback="copyToClipboardErrorCallback">
         {{::('general.copyToClipboard' | translate)}}
      </button>
      <span ng-if="copyToClipboardSuccess" class="subscribe-events-popover__message"
            translate="general.copyToClipboardSuccess"></span>
      <span ng-if="copyToClipboardFail" class="subscribe-events-popover__message">
        {{::(('general.copyToClipboardFail' + copyToClipboardFailMessageKeySuffix) | translate) }}
      </span>
    </div>
    <div ng-if="optimeCalendar"
         class="subscribe-events-popover__instructions__optime">
      {{::('weekFeed.optimeInstructions' | translate)}}
    </div>
    <div class="subscribe-events-popover__instructions">
      <div class="subscribe-events-popover__instructions__intro">
        {{::('weekFeed.calendarInstructions' | translate | capitalize)}}
      </div>
      <a href="{{InstructionLinks.OUTLOOK[selectedLanguage]}}" target="_blank">Office 365</a>
      <a href="{{InstructionLinks.GOOGLE[selectedLanguage]}}" target="_blank">Google</a>
    </div>
  </div>
</div>
