<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="subscribe-events-popover">
  <div class="subscribe-events-popover__text-content">{{::('weekFeed.addCalendarInstructions' | translate)}}</div>
  <div class="subscribe-events-popover__link subscribe-events-popover__text-content">
    <div id="calendar-feed-url" ng-show="calendarFeedUrl">{{calendarFeedUrl}}</div>
    <span ng-hide="calendarFeedUrl" class="icon--spinner icon-spin"/>
  </div>
  <div ng-show="showCopyToClipboard">
    <button id="subscribe-events-trigger"
       tabindex="0"
       class="button--outline"
       clipboard
       clipboard-value-selector="#calendar-feed-url"
       clipboard-success-callback="copyToClipboardSuccessCallback"
       clipboard-error-callback="copyToClipboardErrorCallback">
      {{::('general.copyToClipboard' | translate)}}
    </button>
    <span ng-if="copyToClipboardSuccess" class="subscribe-events-popover__message"
          translate="general.copyToClipboardSuccess"></span>
    <span ng-if="copyToClipboardFail" class="subscribe-events-popover__message">
      {{::(('general.copyToClipboardFail' + copyToClipboardFailMessageKeySuffix) | translate) }}
    </span>
  </div>
  <div ng-if="!optimeCalendar && calendarFeedUrl">
    <p class="subscribe-events-popover__text-content">{{::('weekFeed.calendarLinkUpdateNotice' | translate)}}</p>
    <button ng-click="updateCalendarFeedUrl()" class="button--outline" href="">{{::('weekFeed.updateLink' | translate)}}</button>
  </div>
  <p ng-if="optimeCalendar"
       class="subscribe-events-popover__text-content">
    {{::('weekFeed.optimeInstructions' | translate)}}
  </p>
  <p class="subscribe-events-popover__text-content">
    {{::('weekFeed.calendarInstructions' | translate)}}
  </p>
  <a href="{{InstructionLinks.OUTLOOK[selectedLanguage]}}" target="_blank">{{::('weekFeed.addToOutlook' | translate)}}</a> |
  <a href="{{InstructionLinks.GOOGLE[selectedLanguage]}}" target="_blank">{{::('weekFeed.addToGoogle' | translate)}}</a>
</div>
