<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="work-experience__dropzone disableSelect">
  <ul class="banner-content"
      ng-model="workExperience"
      as-sortable="sortableOptions"
      is-disabled="!workExperience || workExperience.length < 2">
    <li ng-repeat="workExperienceItem in workExperience track by workExperienceItem.id"
        class="editable" as-sortable-item>
      <div class="work-experience work-experience__outer_container">
        <div class="banner-content__drag-handle"
             as-sortable-item-handle
             ng-show="workExperience && workExperience.length > 1"></div>
        <div class="banner-content__item">
          <div class="work-experience__editor-content">
            <div>
              <label translate="workExperience.dateOfEmployment"></label>
              <div>
                <input type="text"
                       class="work-experience__date-input work-experience__input"
                       date-input="MM/YYYY" ng-model="workExperienceItem.startDate"
                       ng-change="refreshValidity()"
                       ng-blur="startDateChanged(workExperienceItem)"
                       ng-class="{'ng-invalid':!workExperienceItem.startDate || !workExperienceItem.startDate.isValid()}"
                       placeholder="{{:: ('workExperience.startDatePlaceholder' | translate) }}" />
                &ndash;
                <input type="text"
                       class="work-experience__date-input work-experience__input"
                       date-input="MM/YYYY" ng-model="workExperienceItem.endDate"
                       ng-change="refreshValidity()"
                       ng-blur="endDateChanged(workExperienceItem)"
                       placeholder="{{:: ('workExperience.endDatePlaceholder' | translate) }}" />
              </div>
            </div>
            <div>
              <label for="job-title-{{workExperienceItem.id}}" translate="workExperience.jobTitle"></label>
              <input
                id="job-title-{{workExperienceItem.id}}"
                type="text"
                class="work-experience__input"
                ng-model="workExperienceItem.jobTitle"
                ng-change="refreshValidity()"
                ng-blur="refreshValidity()"
                ng-class="{'ng-invalid':!workExperienceItem.jobTitle}"
                placeholder="{{::'workExperience.jobTitle' | translate}}"
                value="{{ workExperienceItem.jobTitle || ('workExperience.jobTitle' | translate)}}">
            </div>
            <div>
              <label for="employer-{{workExperienceItem.id}}" translate="workExperience.employer"></label>
              <input
                id="employer-{{workExperienceItem.id}}"
                type="text"
                class="work-experience__input"
                ng-model="workExperienceItem.employer"
                ng-change="refreshValidity()"
                ng-blur="refreshValidity()"
                ng-keypress="refreshValidity()"
                ng-class="{'ng-invalid':!workExperienceItem.employer}"
                placeholder="{{::'workExperience.employer' | translate }}">
            </div>
            <div>
              <label for="work-description-{{workExperienceItem.id}}" translate="workExperience.text"></label>
              <textarea
                id="work-description-{{workExperienceItem.id}}"
                placeholder="{{::'workExperience.descriptionPlaceholder' | translate}}"
                ng-model="workExperienceItem.text"></textarea>
            </div>
            <div>
              <label for="work-experience-url-{{workExperienceItem.id}}" translate="workExperience.employerUrl"></label>
              <input
                id="work-experience-url-{{workExperienceItem.id}}"
                type="text"
                class="work-experience__input"
                ng-model="workExperienceItem.employerUrl"
                placeholder="{{::'workExperience.employerUrl' | translate}}">
            </div>
          </div>
          <button class="banner-content__remove" ng-click="removeWorkExperience(workExperienceItem)"></button>
        </div>
      </div>
    </li>

    <li ng-show="jobSearch" class="editable">
      <div class="banner-content__item job-search">
        <div class="banner-content__banner">
          <div class="banner-content__backdrop">
            <div class="banner-content__banner-content">
              <div class="banner-content__banner-title" translate="workExperience.jobSearch" />
              <div class="banner-content__banner-text">
                {{jobSearch.contactEmail}}
              </div>
            </div>
          </div>
        </div>
        <div class="banner-content__details-container">
          <div class="work-experience__title">
            <span class="banner-content__editable-content" ng-show="!editJobSearchHeadline">
              <a role="button" href="" ng-click="enterJobHeadlineEdit()"
                 class="banner-content__editable-content-button">
                {{jobSearch.headline}}
                <i class="icon--edit-event"></i>
              </a>
            </span>
            <span class="banner-content__editable-content--active" ng-show="editJobSearchHeadline">
              <input focus="editJobSearchHeadline" ng-model="jobSearch.headline"
                     ui-keypress="{'enter':'exitJobHeadlineEdit()'}" />
              <a role="button" href="" ng-click="exitJobHeadlineEdit()"><i class="icon--done"></i></a>
            </span>
          </div>
          <div class="banner-content__description">
            <textarea placeholder="{{::'workExperience.descriptionPlaceholder'|translate}}"
                      ng-model="jobSearch.text"></textarea>
          </div>
          <div class="banner-content__details-row">
            <span class="banner-content__editable-content" ng-show="!editContactEmail">
              <a role="button" href="" ng-click="enterContactEmailEdit()"
                 class="banner-content__editable-content-button"
                 ng-class="{'ng-invalid':jobSearch.submitted && !jobSearch.contactEmail}">
                {{jobSearch.contactEmail || ('workExperience.contactEmail' | translate)}}
                <i class="icon--edit-event"></i>
              </a>
            </span>
            <span class="banner-content__editable-content--active" ng-show="editContactEmail">
              <input focus="editContactEmail"
                     type="email" required
                     ng-model="jobSearch.contactEmail"
                     ui-keypress="{'enter':'exitContactEmailEdit()'}"
                     ng-class="{'ng-invalid':!jobSearch.contactEmail}"
                     placeholder="{{::'workExperience.contactEmail'|translate}}" />
              <a role="button" href="" ng-click="exitContactEmailEdit()"><i class="icon--done"></i></a>
            </span>
          </div>
        </div>
        <button class="banner-content__remove" ng-click="removeJobSearch()"></button>
      </div>
    </li>
  </ul>
</div>
<div class="add-new-content">
  <div class="list-of-links">
    <a role="button" href="" class="button--action icon--plus" ng-click="addWorkExperience(newJob)">
      {{::('workExperience.addWorkExperience' | translate)}}
    </a>
    <a role="button" href="" class="button--action icon--plus" ng-click="addJobSearch(newJobSearch)" ng-hide="jobSearch">
      {{::('workExperience.addJobSearch' | translate)}}
    </a>
  </div>
</div>
