<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
  -->

<ul class="work-experience">
  <li ng-repeat="workExperienceItem in workExperience | orderBy : 'startDate' : true track by workExperienceItem.id">
    <div class="work-experience__item" ng-class="{'showFullItem': workExperienceItem.showFull}">
      <div class="work-experience__banner">
        <div class="work-experience__banner-content">
          <div class="work-experience__employer-container">
            <div class="work-experience__title">
              {{workExperienceItem.employer}}
            </div>
            <div class="work-experience__text">
              {{workExperienceItem.startDate | momentFormat:'M/YYYY'}} -
              {{workExperienceItem.endDate | momentFormat:'M/YYYY'}}
            </div>
          </div>
        </div>
      </div>
      <div class="work-experience__description-container">
        <div class="work-experience__title">
          {{workExperienceItem.jobTitle}}
        </div>
        <div class="work-experience__description" ng-hide="workExperienceItem.showFull">
          <p ng-bind="workExperienceItem.text" data-ellipsis data-ellipsis-append="{{::' '+('general.showMore'|translate)}}" data-ellipsis-append-click="showFull(workExperienceItem)"></p>
        </div>
        <div class="work-experience__full-description" ng-show="workExperienceItem.showFull">
          <p>{{workExperienceItem.text}}
            <a role="button"
               href=""
               aria-label="{{::'general.showLess'|translate}}"
               ng-click="hideFull(workExperienceItem)">{{::'general.showLess'|translate}}</a>
          </p>
        </div>
        <div class="work-experience__url">
          <a href="{{workExperienceItem.employerUrl !== '' ? formatUrl(workExperienceItem.employerUrl) : ''}}">
          {{workExperienceItem.employerUrl}}</a>
        </div>
      </div>
    </div>
  </li>

  <li ng-show="jobSearch">
    <div class="work-experience__item job-search">
      <div class="work-experience__banner">
        <div class="work-experience__banner-content">
          <div class="work-experience__employer-container">
            <div class="work-experience__title text-transform-capitalize-block"
                 translate="workExperience.jobSearch" />
            <div class="work-experience__text">
              {{jobSearch.contactEmail}}
            </div>
          </div>
        </div>
      </div>
      <div class="work-experience__description-container">
        <div class="work-experience__title">
          {{jobSearch.headline}}
        </div>
        <div class="work-experience__description">
          <p>{{jobSearch.text}}</p>
        </div>
        <div class="work-experience__url">
          <a href="mailto:{{jobSearch.contactEmail}}">{{jobSearch.contactEmail}}</a>
        </div>
      </div>
    </div>
  </li>
</ul>
