<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="ui-component editable-wrapper">
  <div class="component-header">
    <h2 class="ui-component__title border-bottom"
        translate translate-language="{{::portfolioLang}}">
      languages.title
    </h2>
    <div class="component-header__actions">
      <visibility-toggle component-id="LANGUAGE_PROFICIENCIES" section-name="{{::sectionName}}"></visibility-toggle>
      <edit-link on-edit="edit()" on-exit-edit="exitEdit()"></edit-link>
    </div>
  </div>

  <ul class="language-proficiency-list" ng-class="{editing : editing}">
    <li ng-repeat="languageProficiency in languageProficiencies track by languageProficiency.language"
        class="language-proficiency-item"
        data-id="{{::languageProficiency.id}}">
        <figure class="proficiency-visualizer-container">
          <div class="proficiency-visualizer -level-{{languageProficiency.proficiency}}">
            <div class="proficiency-visualizer__inner-circle"></div>
          </div>
        </figure>

        <div class="language-proficiency-item__content">
          <div class="language-proficiency-item__language-name"
               ng-click="toggleLanguageSelect(this)"
               aria-pressed="{{editing && languageSelectVisible}}">
            <span translate translate-language="{{::portfolioLang}}">
              {{'languages.code.' + languageProficiency.language}}
            </span>
            <i class="icon--drop-down" role="presentational" ng-show="editing"></i>
            <div ng-show="editing && languageSelectVisible" class="language-proficiency-item__select-container">
              <ul class="language-proficiency-item__select" role="listbox">
                <li role="option"
                    ng-repeat="lang in availableLanguages |
                               filter:excludeOtherProficiencyLanguages(languageProficiency.language) |
                               orderBy:translatedLanguageName(languageProficiency.language)"
                    class="language-proficiency-item__select-item">
                  <a role="button" href="" class="language-proficiency-item__select-item-link"
                     id="language-{{::lang}}"
                     translate translate-language="{{::portfolioLang}}"
                     ng-click="updateLanguage(languageProficiency, lang)">
                     {{'languages.code.' + lang}}
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="language-proficiency-item__proficiency"
               ng-click="toggleProficiencySelect(this)"
               aria-pressed="{{editing && proficiencySelectVisible}}">
            <span translate translate-language="{{::portfolioLang}}">
              {{'languages.proficiency.' + languageProficiency.proficiency}}
            </span>
            <i class="icon--drop-down" role="presentational" ng-show="editing"></i>
            <div ng-show="editing && proficiencySelectVisible" class="language-proficiency-item__select-container">
              <ul class="language-proficiency-item__select" role="listbox">
                <li role="option"
                    ng-repeat="pr in proficiencies"
                    class="language-proficiency-item__select-item">
                  <a role="button" href="" class="language-proficiency-item__select-item-link"
                     id="proficiency-{{::pr}}"
                     translate translate-language="{{::portfolioLang}}"
                     ng-click="updateProficiency(languageProficiency, pr)">
                     {{'languages.proficiency.' + pr}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <a role="button" href="" class="language-proficiency-item__remove"
           aria-label="{{::('general.remove' | translate)}}"
           ng-show="editing"
           ng-click="remove(languageProficiency)">
          <i class="icon--remove"></i>
        </a>
    </li>
    <li class="language-proficiency-list__add-new-container" ng-show="editing">
      <a role="button" href="" class="language-proficiency-list__add-new"
         aria-label="{{::('general.add' | translate)}}"
         ng-click="addNew()"></a>
    </li>
  </ul>
</div>
