<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="ui-component editable-wrapper">
  <div class="component-header">
    <editable-heading component-id="LANGUAGE_PROFICIENCIES"
                      default-text="languages.title"
                      portfolio-lang="{{::portfolioLang}}"
                      editing="editing"></editable-heading>
    <div class="component-header__actions">
      <visibility-toggle component-id="LANGUAGE_PROFICIENCIES" section-name="{{::sectionName}}"></visibility-toggle>
      <edit-link on-edit="edit()" on-exit-edit="exitEdit()"></edit-link>
    </div>
  </div>

  <ul class="language-proficiency-list" ng-class="{editing : editing}">
    <li ng-repeat="languageProficiency in languageProficiencies"
        class="language-proficiency-item"
        data-id="{{::languageProficiency.id}}">

        <div class="language-proficiency-item__content">
          <div class="language-proficiency-item__language-name">
            <span ng-show="!editing && languageProficiency.languageName">
              {{languageProficiency.languageName}}
            </span>
            <span ng-show="editing" class="language-proficiency-item__input-container editable-content-active">
              <input type="text"
                     name="languageName"
                     ng-model="languageProficiency.languageName"
                     ng-change="updateLanguageProficiency(languageProficiency)"
                     placeholder="{{::('languages.languagePlaceholder' | translate)}}"/>
            </span>
          </div>

          <div class="language-proficiency-item__proficiency">
            <span ng-show="!editing && languageProficiency.proficiency">
              {{languageProficiency.proficiency}}
            </span>
            <span ng-show="editing" class="language-proficiency-item__input-container editable-content-active">
              <input type="text"
                     name="proficiency"
                     ng-model="languageProficiency.proficiency"
                     ng-change="updateLanguageProficiency(languageProficiency)"
                     placeholder="{{::('languages.proficiencyPlaceholder' | translate)}}"/>
            </span>
          </div>

          <div class="language-proficiency-item__description">
            <div ng-show="!editing && languageProficiency.description">
              {{ languageProficiency.description }}
            </div>
            <div ng-show="editing" class="language-proficiency-item__input-container editable-content-active">
              <textarea name="description"
                        ng-model="languageProficiency.description"
                        ng-change="updateLanguageProficiency(languageProficiency)"
                        placeholder="{{::('languages.descriptionPlaceholder' | translate)}}"></textarea>
            </div>
          </div>
        </div>

        <a role="button" href="" class="language-proficiency-item__remove"
           aria-label="{{::('general.remove' | translate)}}"
           ng-show="editing"
           ng-click="remove(languageProficiency)">
          <i class="icon--trash"></i>
        </a>
    </li>
    <li class="language-proficiency-list__add-new-container" ng-show="editing">
      <a role="button" href="" class="language-proficiency-list__add-new"
         aria-label="{{::('general.add' | translate)}}"
         ng-click="addNew()"></a>
    </li>
  </ul>
</div>
