/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

$sample-width : 238px;
$sample-height : 170px;
$sample-invalid-color: red;

$banner-content-description-edit-height: 116px;

.banner-content {
  > li {
    width: 100%;
    display: block;
  }

  .editable {
    background-color: transparent;
  }

  &__editable-content {
    @extend .editable-content;

    &--active {
      @extend .editable-content-active;

      input {
        width: 90%;
      }
    }
  }

  &__editable-content-button {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &__details-container &__editable-content-button {
    color: $silver;

    &:hover {
      color: $white;
    }
  }

  &__editable-content, &__editable-content--active {
    .ng-invalid {
      border: 2px solid $sample-invalid-color;
    }
  }

  &__item {
    width: 100%;
    color: $white;
    position: relative;

    @include breakpoint($small) {
      margin-top: 2em;
    }

    @include breakpoint($mobile-only) {
      margin-bottom: 30px;
    }
  }

  &__banner {
    height: $sample-height;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/portfolio/assets/images/work-experience-bg.jpg");
    background-color: $black;
    display: inline-block;
    vertical-align: top;

    @include breakpoint($small) {
      width: $sample-width;
    }

    @include breakpoint($mobile-only) {
      width: 100%;
    }
  }

  &__banner-link {
    color: $white;
    &:hover {
      color: $blue;
    }
  }

  &__backdrop {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);

    .editable & {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  &__banner-content {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &__banner-title {
    font-weight: 700;
    margin-bottom: 0.2em;
  }

  &__banner-text {
    @include font-size(11px);
  }

  &__details-container {
    color: $black;
    display: inline-block;
    position: relative;

    @include border-bottom;

    @include breakpoint($small) {
      width: calc(100% - 2em - #{$sample-width});
      margin-left: 2em;
    }

    @include breakpoint($mobile-only) {
      width: 100%;
      margin-top: 1em;
    }
  }

  &__details-row {
    margin-bottom: 1em;
  }

  &__description {
    p {
      height: calc(#{$sample-height} - 1em);
      margin-bottom: 1em;
    }

    .angular-ellipsis-append {
      color: $blue;
      &:hover {
        color: $darkblue;
        cursor: pointer;
      }
    }

    textarea {
      height: $banner-content-description-edit-height;
      resize: vertical;
      margin-bottom: 1em;

      @include breakpoint($small) {
        width: 90%;
      }
    }

    @include breakpoint($mobile-only) {
      margin-bottom: 1em;
    }
  }

  &__full-description {
    display: none;
    p {
      height: 100%;
    }
  }

  &__show-full-description &__full-description {
    display: block;
  }

  &__show-full-description &__description {
    display: none;
  }

  &__remove {
    color: $blue;
    z-index: 2;
    cursor: pointer;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    &:before {
      @include icon($icon-trash);
    }
  }
}
