/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

$degree-invalid-color: red;

.degrees {
  margin-top: 1em;
}

.degree__item {
  @extend .box-data, .border-bottom;
  min-height: 94px;
  padding-top: 15px;
  position: relative;

  &.editable {
    a {
      color: $white;
    }

    .degree__container {
      width: 80%;
      > * {
        margin-bottom: 3px
      }
    }

    .icon--remove {
      position: absolute;
      right: 1em;
    }
  }

  .editable-content, .editable-content-active {
    .ng-invalid {
      border: 2px solid $degree-invalid-color;
    }
  }
}

.degree__lyre {
  @extend .box-data__left;
  background-color: white;

  &:before {
    font-family: hy-icons;
    @include vertically-center;
    left: 0;
    height: 50px;
    width: 55px;
    content: "\EA06";
    color: $gray;
    font-size: 50px;
  }
}

.degree__lyre--edit {
  @extend .box-data__left;
  background: rgba(0, 0, 0, 0);
  margin: 0 15px 0 15px;

  &:before {
    font-family: hy-icons;
    @include vertically-center;
    left: 0;
    height: 50px;
    width: 55px;
    content: "\EA06";
    color: white;
    font-size: 50px;
  }
}

.degree__date {
  @extend .box-data__content;
}

.degree__title {
  @extend .box-data__title;
}

.degree__description {
  @extend .box-data__content;
}
