/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.free-text-content {
  position: relative;
  .edit-link {
    top: 0.5em;
  }
}

.free-text-content__title-container {
  padding-bottom: 0.2em;
  @include border-bottom;
}

.free-text-content__text, .edit-free-text-content__edit-text {
  margin-top: 0.2em;
}

.free-text-content__text {
  .ne-image, .ne-video {
    white-space: normal;
  }

  .ne-image-wrapper, .ne-video-player {
    background-color: $white;
  }

}

.edit-free-text-content__edit-text {
  height: 200px;
}

.add-free-text-content {
  position: relative;
  height: 150px;
  @include border;
}

.edit-free-text-content {
  .free-text-content__title.is-editable {
    &:hover {
      cursor: pointer;
      background-color: $gray;
      color: $white;
      a {
        color: $white;
      }
      &:after {
        position: absolute;
        font-weight: normal;
        margin-top: -0.5em;
        @include font-size(14px);
        @include icon($icon-edit);
      }
    }
  }
  .favorites-list__remove {
    display: inline-block;
    position: relative;
    margin-left: 0.5em;
    vertical-align: top;
  }
}

.edit-free-text-content__edit-title {
  display: inline-block;
  padding: 0;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 1.1em;
  width: 80%;
}
