/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.portfolio-intro {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  height: 100%;
  padding: 3em 1em;
  overflow-y: auto;
  overflow-x: hidden;

  @include breakpoint($large) {
    width: $page-content-max-width;
  }

  @include breakpoint($small) {
    flex-direction: row;
  }

  @include breakpoint($mobile-only) {
    flex-direction: column;
  }

  h2 {
    margin: 0;
    padding: 0;
  }
}

.portfolio-intro__owner {
  display: flex;
  align-items: flex-start;
  flex: 1 1 50%;
  padding-bottom: 0.5em;
  padding-right: 2em;
  position: relative;

  @include breakpoint($small) {
    padding-right: 1em;
  }

  .edit-link {
    min-width: 50%;
    left: 105%;
    top: 50%;
  }
}

.portfolio-intro__keywords {
  z-index: 1;

  @include breakpoint($small) {
    flex: 0 1 32%;
  }

  @include breakpoint($mobile-only) {
    width: 100%;
  }
}

.portfolio-intro__owner-details {
  width: 100%;
}

.portfolio-intro__title {
  line-height: initial;
}

.portfolio-intro__title, .portfolio-intro__intro, .portfolio-intro__edit-link > a > i  {
  color: $white;
  text-shadow: 0 1px 2px $black;
}

.portfolio-intro__avatar {
  flex: 0 0 auto;
  margin-right: 5%;
}

.portfolio-user-image {
  width: 50px;
  height: 50px;

  @include breakpoint($small) {
    width: 100px;
    height: 100px;
  }

  @include breakpoint($medium) {
    width: 150px;
    height: 150px;
  }

  .user-avatar {
    background-color: $lila;
  }
}
