/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

$navigationHeight: 60px;

.navigation {
  height: $navigationHeight;
  position: relative;
  z-index: 2;

  ul.menu {
    margin: 0;
  }

  nav {
    height: 100%;
  }

  .wrapper {
    height: 100%;
    @include breakpoint($small) {
      padding: 0 1em;
    }
  }

  @include breakpoint($mobile-only) {
    .main-menu {
      ul.menu {
        height: 100%;
      }

      li.main-menu__front {
        border: none;
        left: 1em;
        top: 50%;

        > a {
          font-size: 0;
          padding: 0;

          &:after {
            @include icon($icon-home);
            @include font-size(16px);
          }
        }
      }
    }
  }
}

.navigation-right {
  @include vertically-center;
  display: flex;
  right: 1em;

  &__element {
    vertical-align: bottom;
    display: inline-block;
    margin-right: 0.5em;

    @include breakpoint($small) {
      margin-right: 1em;
    }

    > button {
      height: 28px;

      @include breakpoint($small) {
        height: 32px;
      }
    }
  }

  .dropdown {
    margin: 0;
  }
}
