/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.page-banner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.page-banner-container {
  height: $page-banner-height;
}

.page-banner .page-banner__image {
  min-height: $page-banner-height;
  height: 100% !important;
}

.page-banner__change-background-menu.dropdown-content {
  @extend .dropdown-menu;

  text-transform: none;
  left: initial;
  width: initial;

  @include font-size(13px);
  position: absolute;
  white-space: nowrap;
  padding: 1em;
  @include breakpoint($small) {
    @include triangle-with-border(12px, 12px);
    top: $page-banner-toggle-size + 20px;
  }
  @include breakpoint($mobile-only) {
    @include triangle-with-border(12px, 12px, $white, $lightsilver, right);
    top: $page-banner-toggle-size;
    left: 0;
    border: 1px solid $lightsilver !important;
  }
}
