/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.portfolio:not(.is-preview) .portfolio-components__dropzone:not(.drag-disabled) > .portfolio-section {
  .ui-component__title {
    &::before {
      content: $icon-drag;
      font-family: "hy-icons";
      vertical-align: middle;
      margin-right: 0.5em;
    }

    &.is-editable {
      display: inline-block;
      padding-right: 2em;

      &:hover {
        cursor: pointer;
        background-color: $gray;
        color: $white;
        a {
          color: $white;
        }
        &:after {
          position: absolute;
          margin-left: 0.5em;
          font-size: 1em;
          @include icon($icon-edit);
        }
      }
    }
  }

  .ui-component__title--container {
    width: 80%;

    .icon--done {
      position: absolute;
      right: 25%;
      top: 50%;
      @include transform(translateY(-50%));
      color: $blue;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .ui-component__title--edit {
    display: inline-block;
    padding: 0;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -0.05em;
  }

}
