/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.portfolio-section__outer-container {
  display: flex;
}

.portfolio:not(.is-preview) .portfolio-components__dropzone:not(.drag-disabled) > .portfolio-section {
  .portfolio-section__drag-handle {
    margin-top: 1em;
    &:before {
      content: $icon-drag;
      font-size: 2.5rem;
      color: $black;
      font-family: "hy-icons";
      margin-right: 0.5em;
    }
  }
}

.portfolio-section__body {
  flex-grow: 30;
}

.portfolio:not(.is-preview) .portfolio-section {
  .ui-component__title {
    &.is-editable {
      display: inline-block;
      padding-right: 2em;

      &:hover {
        cursor: pointer;
        background-color: inherit;
        color: inherit;
        a {
          color: inherit;
        }
        &:after {
          position: absolute;
          margin-left: 0.5em;
          font-size: 1em;
          @include icon($icon-edit);
        }
      }
    }
   &--edit {
     display: inline-block;
     padding: 0 0.2em;
     font-size: 2.5em;
     text-transform: uppercase;
     font-weight: 700;
     letter-spacing: -0.05em;
     width: 100%;
   }
  }
}
