/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

@include breakpoint(print) {
  .cookie-notification, .l-header, .navigation,
  .edit-link, .visibility-toggle, .add-favorite-button,
  .keywords-input-container, .new-degree, .favorites-list__remove,
  .popover-wrapper, .language-proficiency-list__add-new ,
  .work-experience__add-new, .add-free-text-content, .favorites-list__item-wrapper,
  .page-footer__social-links, .page-footer__links, .feedback-container,
  .work-experience > li:last-child {
    display: none !important;
  }

  h2 {
    page-break-after: avoid;
  }

  ul, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  .portfolio-user-image {
    width: 150px;
    height: 150px;
  }

  .page-banner .page-banner__image {
    position: absolute !important;
  }

  .portfolio-intro__content {
    padding: 3em 1em;
  }

  .portfolio-intro__title, .portfolio-intro__intro {
    color: $white;
  }

  .portfolio-intro__right {
    margin-left: 1em;
  }
}
