/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

.samples {
  &--edit {
    margin-top: 1em;
  }

  &__outer-container {
    display: flex;
    background-color: $lightsilver;
    border: 1px solid $mediumsilver;
    padding: 1em;
    margin-bottom: 1em;
  }

  &__details-container {
    width: 100%;
    margin: 0 2em;

    @include breakpoint($small) {
      width: 100%;
      margin: 0 2em;
    }

    @include breakpoint($mobile-only) {
      width: 100%;
      margin: 1em 0 0 0;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 0.5em;

  }

  &__description-label {
    font-size: 1.125em;
    color: $labelBlack;
    font-weight: 300;
    line-height: 2.4;
    padding: 0;
    margin: 0;
  }

  &__description {
    p {
      line-height: 1.4;
      margin-bottom: 0;
    }
  }

  .banner-content {
    &__item {
      margin-top: 0;
    }

    &__remove {
      background-color: transparent;
    }
  }

  &__input.ng-invalid {
    border: 0.1em solid red;
  }

}
