/*
 * This file is part of MystudiesMyteaching application.
 *
 * MystudiesMyteaching application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MystudiesMyteaching application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
 */

$work-experience-description-height: 85px;
$work-experience-description-edit-height: 82px;

$work-experience-summary-max-height: 104px;


.job-search .banner-content__backdrop {
  background-color: $blue--active;
  .editable & {
    background-color: $darkblue;
  }
}

.work-experience__outer_container {
  display: flex;
  background-color: $lightsilver;
  border: 1px solid $mediumsilver;
  padding: 1em;
  margin-bottom: 1em;
}

.banner-content__drag-handle {
  padding-top: 2em;
  flex-grow: 1;
  padding-right: 0.5em;
  height: 100%;
  @include user-select(none);

  &:before {
    content: $icon-drag;
    font-size: 2rem;
    color: $black;
    font-family: "hy-icons";
    vertical-align: middle;
  }
}

.work-experience .banner-content__banner-text {
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    margin: 0 2px;
  }

  input {
    width: 70px !important;
  }
}

.job-search .banner-content__description, .work-experience .banner-content__description {
  p {
    height: initial;
    max-height: $work-experience-description-height;
  }

  textarea {
    height: $work-experience-description-edit-height;
  }
}

.work-experience-summary__list{
  max-height: $work-experience-summary-max-height;
  overflow: hidden;
}

.work-experience-summary__item {
  text-transform: uppercase;
  color: $white;
  background: rgba($blue, 0.6);
  padding: 1em;
  font-weight: 600;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
}

.work-experience-summary__contact-email {
  text-transform: none;
  margin-top: 0.5em;
  @include font-size(12px);
}

.work-experience-summary__job-search {
  width: 100%;
  padding-bottom: 1.5em;
  margin: 0;
}

input.work-experience__date-input {
  width: 6em;
}

.work-experience {
  &__default_image {
    font-size: 3em;
    color: $blue;
  }

  &__input.ng-invalid {
    border: 2px solid red;
  }

  .banner-content {
    &__item {
      margin-top: 0;
    }

    &__remove {
      background-color: transparent;
    }

    &__details-container {
      width: 100%;
    }
  }

  &__title {
    font-weight: bold;

    div {
      margin-bottom: 4px;
    }
  }

  &__job-title {
    font-size: 1.25em;
  }

  &__employer {
    font-size: 1.25em;
    color: $blue;
  }

  &__editor-content {
    color: $black;
    width: 80%;

    @include breakpoint($mobile-only) {
      width: 100%;
    }

    label {
      color: $black;
    }
  }

  .item-visibility {
    position: absolute;
    top: 0;
    right: 3em;
  }
}
