<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!-- app/views/partials/_page_footer.html -->
<div class="page-footer clearfix wrapper">

  <!-- Social media links -->
  <div class="page-footer__social-links">
    <ul class="inline-list">
      <li><a class="s-some s-some--facebook" href="http://www.facebook.com/helsinginyliopisto" target="_blank">Facebook</a></li>
      <li><a class="s-some s-some--twitter" href="http://www.twitter.com/helsinkiuni" target="_blank">Twitter</a></li>
      <li><a class="s-some s-some--youtube" href="http://www.youtube.com/universityofhelsinki" target="_blank">Youtube</a></li>
      <li><a class="s-some s-some--linkedin" href="http://www.linkedin.com/company/university-of-helsinki" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
  <!-- Links -->
  <div class="page-footer__links">
    <ul class="list-of-links--light">
      <li><a href="http://www.helsinki.fi/yliopisto/yhteystiedot.html">{{::('pageFooter.contact' | translate)}}</a></li>

      <li ng-if="selectedLanguage ==='fi'"><a href="https://elomake.helsinki.fi/lomakkeet/59401/lomake.html" target="_blank">{{::('pageFooter.giveFeedback' | translate)}}</a></li>
      <li ng-if="selectedLanguage ==='en'"><a href="https://elomake.helsinki.fi/lomakkeet/59401/lomake.html?rinnakkaislomake=eng" target="_blank">{{::('pageFooter.giveFeedback' | translate)}}</a></li>
      <li ng-if="selectedLanguage ==='sv'"><a href="https://elomake.helsinki.fi/lomakkeet/59401/lomake.html" target="_blank" >{{::('pageFooter.giveFeedback' | translate)}}</a></li>
      <li><a href="https://flamma.helsinki.fi/portal/home/login">Flamma</a></li>
    </ul>
  </div>

  <!-- Contact information -->
  <div class="page-footer__contact">
    <a href="http://www.helsinki.fi/yliopisto/">
        <img src="/assets/icons/logo.svg" title="{{::('general.helsinkiUniversity' | translate) }}" class="logo--footer">
    </a>

    <h4 class="site-name site-name--footer">{{::('general.helsinkiUniversity' | translate)}}</h4>
    <p>{{::('pageFooter.addressLine1' | translate)}}<br>{{::('pageFooter.addressLine2' | translate)}}</p>
    <p class="page-footer__exchange">{{::('pageFooter.telephoneExchange' | translate)}}: 02941 911</p>
  </div>

  <!-- Copyright statement -->
  <div class="page-footer__copyright milli text-center">
    © {{::('general.helsinkiUniversity' | translate)}} {{currentYear}}
  </div>

</div>
