<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!-- app/views/partials/_page_footer.html -->
<div class="l-footer">
  <div class="l-footer__subregion">

    <div class="l-footer__column theme-sub">
      <div class="logo-block">
        <div class="logo-block__logo">
          <a href="http://www.helsinki.fi/yliopisto/" aria-label="{{::('general.helsinkiUniversity' | translate) }}"
             class="logo theme-big"></a>
        </div>
        <div class="logo-block__content">
          <h4>{{::('general.helsinkiUniversity' | translate)}}</h4>
          <p>{{::('pageFooter.addressLine1' | translate)}}<br>{{::('pageFooter.addressLine2' | translate)}}</p>
          <p>{{::('pageFooter.telephoneExchange' | translate)}}:
            <a class="is-tel" href="tel:+3582941911">02941 911</a>
          </p>
        </div>
      </div>
    </div>

    <div class="l-footer__column">
      <div class="list-of-links--condensed theme-footer">
        <a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt"
           href="http://www.helsinki.fi/yliopisto/yhteystiedot.html">
          {{::('pageFooter.contact' | translate)}}
        </a>
        <a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt"
           href="http://www.helsinki.fi/kirjasto">
          {{::('pageFooter.library' | translate)}}
        </a>
        <a class="list-of-links__link button--action icon--arrow-right theme-transparent-alt"
           href="http://www.helsinki.fi/yliopisto/yhteystiedot.html">
          Flamma
        </a>
      </div>
    </div>

    <div class="l-footer__column theme-center">
      <div class="button-group">
        <a class="button--icon icon--facebook" href="http://www.facebook.com/helsinginyliopisto"
           target="_blank" aria-label="Facebook"></a>
        <a class="button--icon icon--twitter" href="http://www.twitter.com/helsinkiuni"
           target="_blank" aria-label="Twitter"></a>
        <a class="button--icon icon--youtube" href="http://www.youtube.com/universityofhelsinki"
           target="_blank" aria-label="Youtube"></a>
        <a class="button--icon icon--linkedin" href="http://www.linkedin.com/company/university-of-helsinki"
           target="_blank" aria-label="LinkedIn"></a>
        <a class="button--icon icon--instagram" href="https://www.instagram.com/universityofhelsinki"
           target="_blank" aria-label="Instagram"></a>
      </div>
    </div>

  </div>

  <div class="l-footer__copyright">
    <p>
      © {{::('general.helsinkiUniversity' | translate)}} {{currentYear}}
    </p>
  </div>
</div>
