<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-show="showApp">
  <header id="top" class="l-header">
    <page-header></page-header>
    <page-navigation></page-navigation>
    <global-messages></global-messages>
  </header>

  <student-tour limit-visibility="['MY_STUDIES_ONLY']"></student-tour>
  <teacher-tour limit-visibility="['MY_TEACHINGS_ONLY']"></teacher-tour>

  <search-bar class="show-mobile-only"></search-bar>
  <search-results></search-results>

  <page-banner show-banner="showBanner"></page-banner>

  <div class="l-page island wrapper">
    <div class="l-multi-col-content-wrapper">
      <div class="l-content-primary-wrapper">
        <week-feed courses-promise="courses" events-promise="events"></week-feed>
        <attainments limit-visibility="['MY_STUDIES_ONLY']"></attainments>
      </div>

      <div class="l-content-secondary-wrapper" role="navigation">
        <div class="ui-component">
          <todo-items ng-if="!showBanner" class="todo-items--secondary todo-items--with-bg"></todo-items>
          <useful-links></useful-links>
          <course-recommendations limit-visibility="['MY_STUDIES_ONLY']"></course-recommendations>
        </div>
      </div>
    </div>
    <favorites></favorites>
  </div>

  <feedback ng-if="userSettings.cookieConsent"></feedback>
  <cookie-notification ng-if="!userSettings.cookieConsent"></cookie-notification>
  <footer class="l-footer island" ng-include="'app/partials/_page_footer.html'"></footer>
</div>
