<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-show="showApp">
  <a href="#main-content"
     ng-if="!useObar"
     class="element-invisible element-focusable"
     translate="pageHeaderLinks.skipToMainContent"></a>

  <sticky-message message-key="globalMessages.demoEnvNoticeMyStudies" environments="['demo']" limit-visibility="['MY_STUDIES_ONLY']"></sticky-message>
  <sticky-message message-key="globalMessages.demoEnvNoticeMyTeaching" environments="['demo']" limit-visibility="['MY_TEACHINGS_ONLY']"></sticky-message>

  <notifications></notifications>

  <header id="top" class="l-header">
    <page-header ng-if="!useObar"></page-header>
    <page-navigation ng-if="!useObar"></page-navigation>

    <obar ng-if="useObar" app="myStudies"></obar>

    <global-messages></global-messages>
  </header>

  <main id="main-content">
    <page-banner show-banner="showBanner"></page-banner>

    <div class="l-page island wrapper">
      <div class="l-multi-col-content-wrapper">
        <div class="l-content-primary-wrapper">
          <week-feed courses-promise="courses" events-promise="events" date="currentDate" on-show-full-screen-calendar="showFullScreenCalendar()"></week-feed>
          <attainments limit-visibility="['MY_STUDIES_ONLY']"></attainments>
          <favorites limit-visibility="['MY_TEACHINGS_ONLY', 'DESKTOP_ONLY']"></favorites>
        </div>

        <div class="l-content-secondary-wrapper" role="navigation">
          <div class="ui-component">
            <div ng-if="!showBanner">
              <todo-items limit-visibility="['MY_STUDIES_ONLY']" class="todo-items--secondary"></todo-items>
            </div>
            <office-hours limit-visibility="['MY_TEACHINGS_ONLY']"></office-hours>
            <useful-links></useful-links>
          </div>
        </div>
      </div>

      <favorites limit-visibility="['MY_TEACHINGS_ONLY', 'MOBILE_ONLY']"></favorites>
      <favorites limit-visibility="['MY_STUDIES_ONLY']" class="favorites__student"></favorites>
    </div>
  </main>

  <feedback ng-if="userSettings.cookieConsent"></feedback>
  <cookie-notification ng-if="!userSettings.cookieConsent"></cookie-notification>
  <footer role="contentinfo" ng-class="{obar: useObar}" ng-attr-id="{{useObar ? 'obar-footer': undefined}}">
    <page-footer ng-if="!useObar"></page-footer>
  </footer>
</div>
