<!--
  ~ This file is part of MystudiesMyteaching application.
  ~
  ~ MystudiesMyteaching application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MystudiesMyteaching application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MystudiesMyteaching application.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="free-text-content ui-component">
  <div class="component-header">
    <div class="editable-heading">
      <h2 ng-if="!editing" class="ui-component__title border-bottom">
        <span ng-if="!isTranslatableHeading()">
          {{::freeTextContentItem.title}}
        </span>

        <span ng-if="isTranslatableHeading()" translate translate-language="{{::profileLang}}">
          {{::headingKey}}
        </span>

      </h2>

      <div class="free-text-content__title-container--edit" ng-if="editing">
        <input type="text" ng-model="freeTextContentItem.title">
      </div>
      <help-icon ng-show="showHelp"
                 translation-key="{{::helpKey}}"
                 limit-visibility="{ visibility: 'PRIVATE', roles: ['STUDENT'] }"
                 panel-align="right"></help-icon>
    </div>

    <div class="component-header__actions">
      <span limit-visibility="PRIVATE">
        <button
           ng-if="deletable && !editing"
           ng-click="confirmDelete()"
           title="delete">
          <i class="icon--trash"></i>
        </button>
      </span>
      <visibility-toggle component-id="FREE_TEXT_CONTENT"
                         section-name="{{::profileSection}}"
                         instance-name="{{::instanceName}}">
      </visibility-toggle>
      <enable-edit edit="toggleEdit()" editing="editing"></enable-edit>
    </div>
  </div>


  <div class="free-text-content__text user-text" ng-if="!editing && freeTextContentItem.text.length">
    <ng-embed embed-data="freeTextContentItem.text" embed-options="embedOptions"></ng-embed>
  </div>

  <div ng-if="editing" class="free-text-content--edit">
    <div ng-controller="TinymceController">
      <textarea ui-tinymce="tinymceOptions" ng-model="freeTextContentItem.text"></textarea>
      <browse-files></browse-files>
    </div>
  </div>

  <edit-mode-buttons cancel="cancelEdit()" save="updateOrCreateNew()" ng-show="editing"></edit-mode-buttons>
</div>
